[class*="badge-"] {
    display: inline-block;
    line-height: $font-size-base;
    vertical-align: middle;
    margin-left: 3px;
    padding: 2px 5px;
    border-radius: $border-radius-medium;
    font-size: $text-sm;
    color: $white;
}
// type
.badge-circle    { border-radius: $border-radius-round; }

// position
.badge-absolute  { @include position(absolute, 3px, 3px, null, null); }

// color
.badge-default   { background-color: $bg-gray; }
.badge-attention { background-color: $red; }
.badge-info      { background-color: $green; }
