/***
     this element should be the most important == don`t delete '!important'
***/

$bg-busy: rgba($secondary-color, 0.8 ) !default;

.busy {
    position: relative;

    &:after {
        @include position(absolute, 0 !important, null, null, 0 !important);
        display: block !important;
        content: '';
        width: 100%  !important;
        height: 100%  !important;
        background-color: $bg-opacity  !important;
        box-shadow: none  !important;
        z-index: $z-base;
    }

    &:before {
        @include position(absolute, 50% !important, null, null, 50% !important);
        content: '';
        display: block;
        width: 10px  !important;
        height: 10px  !important;
        background-color: $bg-busy  !important;
        border-radius: $border-radius-round;
        transform: translate(-50%, -50%);
        @include animate-property(animation, scale 1.5s infinite ease-in-out);
        z-index: $z-base + 1;
    }
}

@include animate-keyframe(scale) {
    0% {
        @include prefix(transform, scale(0), webkit);
    }
    100% {
        @include prefix(transform, scale(5), webkit);
        opacity: 0;
    }
}
