.card {
    @include flex-nowrap-column;
    position: relative;
    margin-bottom: $m_b-sm;
    overflow: hidden;

    &-hd,
    &-bd {
        padding: $cell-gutter-width;
    }

    &-hd {
        @include transform-rotate-after('keyboard_arrow_down', $font-size-icon-lg, 180deg, true);
        padding-right: $cell-gutter-width*3;
        background-color: $bg-gray-light;
        box-shadow: 0 0 2px 0 $border-color;
        cursor: pointer;

        p {
            margin-bottom: 0;
            font-weight: $bold;
        }
    }

    &-bd {
        max-height: 700px;
        overflow-y: auto !important;
        background-color: $white;
        border-top: 1px solid $border-color-light;


        // check this element later
        &:after {
            @include position(absolute, null, null, 0, 0);
            content: '';
            width: 100%;
            height: 20px;
            box-shadow: inset 0px -12px 10px 0px $white;
        }
    }

    &, &-bd {
        height: 100%;
    }
}
