$chips-padding:         7px 10px !default;
$chips-padding-small:   4px 8px 3px !default;

.chips {
    display: inline-block;
    margin: 0 $cell-gutter-width $m_b-sm 0;
    padding: $chips-padding;
    border-radius: $cell-gutter-width*20;
    background-color: $bg-gray;
    transition: $transition;
    cursor: pointer;
    color: $font-color-base;

    &:hover {
        opacity: 0.8;
        color: $font-color-base;
    }

    &.active {
        background-color: $btn-bg-primary;

        &, i {
            color: $white;
        }
    }

    &-icon-right {
        padding-right: $cell-gutter-width;
    }

    // ***
    &.chips-small {
        padding: $chips-padding-small;
        font-size: $text-sm;

        i.icon-mdi {
            margin-left: 10px;
            font-size: 17px;
        }
    }
}
