.collection {
    margin-bottom: $m_b-md;
    border: 1px solid $border-color;

    &-list {
        max-height: 200px;
        overflow-y: auto;
    }

    &-item {
        padding: $cell-gutter-width*0.5 $cell-gutter-width;
        border-bottom: 1px solid $border-color;
        transition: all $transition;

        &:last-child {
            border-bottom: none;
        }

        &.header {
            background-color: $bg-gray-light;
            font-weight: $bold;
            color: $font-color-base;
        }

        //&:hover {
        //    background-color: $bg-gray-hover;
        //}
    }
}
