.label:after {
    content: attr(data-content);
    padding: 3px 4px 2px;

    border-radius: $border-radius-small;
    text-transform: uppercase;
    font-size: $text-sm;
    color: $white;
}

.label-new:after {
    content: "new";
    padding: 2px 2px 2px $cell-gutter-width*0.5;
    text-transform: uppercase;
    font-size: $text-sm;
    font-weight: $bold;
    color: $red;
}
