// Messages
.messagebox {
    @include clearfix;
    margin-bottom: $m_b-lg;

    .item-error,
    .item-notice,
    .item-success {
        padding: $cell-gutter-width*1.5;
        border-left: 3px solid;
    }

    .item-success {
        background-color: $bg-color-success;
        border-color: $green;
    }

    .item-notice {
        background-color: $bg-orange;
        border-color: $orange;
    }

    .item-error {
        background-color: $bg-color-error;
        border-left: 3px solid $red;
    }
}
