.notification {
    @include position(fixed, null, $cell-gutter-width, 5%, null);
    opacity: 0;
    min-width: 310px;
    max-width: 400px;
    padding: $cell-gutter-width*1.5 $cell-gutter-width*4 $cell-gutter-width*1.5 $cell-gutter-width*1.5;
    border-radius: $border-radius-medium;
    background-color: $black;
    z-index: $z-dropdown-fullscreen;
    transform: translate(-50%, 0);
    transition: all $transition;
    animation: fadeInUp 0.4s ease-in-out 1s;
    animation-fill-mode: forwards;
    color: $bg-gray;

    i.close {
        @include position(absolute, 0, 0, null, null);
        line-height: 1;
        font-size: $font-size-icon-lg;
    }
}
