/*
// Property
.property {
    &-list {
        @include flex-wrap;
        margin: 0 #{-$cell-gutter-width} $m_b-md;
    }

    &-item {
        @include clearfix;
        width: 25%;
        margin-bottom: $m_b-md;
        padding: 0 $cell-gutter-width;
    }

    &-name {

    }

    &-item {

    }
}
*/
