.table {
    display: table;
    width: 100%;
    margin-bottom: $m_b-md;
    border: 1px solid;
    border-width: 1px 0 0 1px;
    @include border-color('$border-color');

    &-row {
        display: table-row;

        &.table-head {
            font-size: $text-sm + 1;
            font-weight: $bold;
            background-color: $bg-gray-light;
        }
    }

    &-cell {
        display: table-cell;
        padding: 5px 10px;
        box-shadow: $box-shadow-border;
    }

    &.table-action-row .table-row:hover {
        background-color: $bg-gray;
        cursor: pointer;
    }
}
