$tabs-height: $cell-gutter-width*5 !default;

.tabs {
    @include clearfix;
    line-height: $tabs-height;
    height: $tabs-height;
    border-bottom: 3px solid $border-color-light;

    ul {
        @include cell-list-scroll;
    }

    &-item {
        position: relative;

        a, span {
            display: block;
            padding: 0 $cell-gutter-width*2;
            white-space: nowrap;
            font-weight: $bold;
            transition: all $transition;
            cursor: pointer;
            color: $font-color-base;
        }

        &.active,
        &:hover {
            &:after {
                @include position(absolute, null, null, 0, 0);
                @include background-color('$secondary-color');
                content: "";
                width: 100%;
                height: 3px;
                transition: background-color $transition;
            }
        }

        &.active {
            a, span { cursor: default; }
        }
    }

   /* + .tabs-content {

        > div {
            height: 0;

            &.active { height: auto; }
        }
    }*/
}

@include respond-to("large") {
    .tabs {
        @include shadow-app;

        ul {
            overflow-x: hidden;

            &.tabs-scroll-app {
                overflow-x: scroll;
            }
        }
    }
}
