// Viewbox
.viewbox {
    @include clearfix;
    margin-bottom: $m_b-lg;
    padding: $cell-gutter-width;
    background-color: $white;
    border-radius: $border-radius-small;
    box-shadow: $box-shadow;
}
