<div class="card overflow">
    <div class="card-hd"><p>Category name</p></div>

    <div class="card-bd">
        <div class="row form-item">
            <div class="cell-4"><p class="h4">Machine Vendor</p></div>
            <div class="cell-8"><input class="field" type="text"/></div>
        </div>

        <div class="row form-item">
            <div class="cell-4"><p class="h4">Customer Code / Customer Code (PLUQUO/SYNCHRONE)</p></div>
            <div class="cell-8">
                <div class="uneditable">01. Label printing</div>
            </div>
        </div>

        <div class="row form-item">
            <div class="cell-4"><p class="h4">Unloading Point (PLUQUO)</p></div>
            <div class="cell-8">
                <div class="uneditable">01. Label printing</div>
            </div>
        </div>

        <div class="row form-item">
            <div class="cell-4"><p class="h4">Virtual Unloading Point (SEQJIT)</p></div>
            <div class="cell-8">
                <kendo-dropdownlist [data]="listItems" [value]="'Basketball'"></kendo-dropdownlist>
            </div>
        </div>

        <div class="row form-item">
            <div class="cell-4"><p class="h4">Machine Vendor</p></div>
            <div class="cell-8"><input class="field" type="text"/></div>
        </div>

        <div class="row form-item">
            <div class="cell-4"><p class="h4">Customer Code / Customer Code (PLUQUO/SYNCHRONE)</p></div>
            <div class="cell-8"><input class="field" type="text"/></div>
        </div>

        <div class="row form-item">
            <div class="cell-4"><p class="h4">Machine Vendor</p></div>
            <div class="cell-8"><textarea class="field"></textarea></div>
        </div>

        <a href="" class="btn-default float-right">Show all <i class="icon-mdi">keyboard_arrow_down</i></a>
    </div>
</div>

<div class="card overflow">
    <div class="card-hd">
        <p>Category name</p>
    </div>

    <div class="card-bd">
        <div class="row form-item">
            <div class="cell-4"><p class="h4">Unloading Point (PLUQUO)</p></div>
            <div class="cell-8">
                <label class="type-checkbox">
                    <input type="checkbox" name="type1" checked="">
                    <i class="check"></i>
                </label>
            </div>
        </div>

        <div class="row form-item">
            <div class="cell-4"><p class="h4">Machine Vendor</p></div>
            <div class="cell-8"><textarea class="field"></textarea></div>
        </div>

        <div class="row form-item">
            <div class="cell-4"><p class="h4">Machine Vendor</p></div>
            <div class="cell-8">
                <div class="collection">
                    <div class="collection-item header">Station</div>
                    <ul class="collection-list">
                        <li class="collection-item">DRL Assembly</li>
                        <li class="collection-item">01. DRL Assembly</li>
                        <li class="collection-item">02. DRL Assembly</li>
                        <li class="collection-item">03. DRL Assembly</li>
                        <li class="collection-item">04. DRL Assembly Assembly</li>
                        <li class="collection-item">06. DRL Assembly DRL Assembly DRL Assembly</li>
                        <li class="collection-item">06. DRL Assembly DRL Assembly DRL Assembly</li>
                        <li class="collection-item">06. DRL Assembly DRL Assembly DRL Assembly</li>
                        <li class="collection-item">06. DRL Assembly DRL Assembly DRL Assembly</li>
                        <li class="collection-item">06. DRL Assembly DRL Assembly DRL Assembly</li>
                        <li class="collection-item">06. DRL Assembly DRL Assembly DRL Assembly</li>
                        <li class="collection-item">06. DRL Assembly DRL Assembly DRL Assembly</li>
                        <li class="collection-item">06. DRL Assembly DRL Assembly DRL Assembly</li>
                        <li class="collection-item">06. DRL Assembly DRL Assembly DRL Assembly</li>
                        <li class="collection-item">06. DRL Assembly DRL Assembly DRL Assembly</li>
                        <li class="collection-item">06. DRL Assembly DRL Assembly DRL Assembly</li>
                        <li class="collection-item">06. DRL Assembly DRL Assembly DRL Assembly</li>
                        <li class="collection-item">07. DRL Assembly</li>
                        <li class="collection-item">07. DRL Assembly</li>
                        <li class="collection-item">07. DRL Assembly</li>
                        <li class="collection-item">07. DRL Assembly</li>
                        <li class="collection-item">07. DRL Assembly</li>
                        <li class="collection-item">07. DRL Assembly</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row form-item">
            <div class="cell-4"><p class="h4">Machine Vendor</p></div>
            <div class="cell-8">
                <div class="textbox-number">
                    <input type="text">

                    <div class="textbox-number-wrap">
                        <span class="textbox-number-up"></span>
                        <span class="textbox-number-down"></span>
                    </div>
                </div>
            </div>
        </div>

        <a href="" class="btn-default float-right">Show all <i class="icon-mdi">keyboard_arrow_down</i></a>
    </div>
</div>
