<app-navigation-tree></app-navigation-tree>

<p class="h1">Some properties</p>

<app-filters></app-filters>

<app-dialog-window></app-dialog-window>

<app-tabs></app-tabs>

<app-properties-list></app-properties-list>

<div class="fixed-action-place">
    <a href="" class="btn-primary btn-fixed disabled">
        <i class="icon-mdi">close</i>
        <span>Reset</span>
    </a>

    <a href="" class="btn-primary btn-fixed">
        <i class="icon-mdi">autorenew</i>
        <span>Update</span>
    </a>

    <a href="" class="btn-primary btn-fixed">
        <i class="icon-mdi">delete</i>
        <span>Delete</span>
    </a>
</div>
