<div class="example-wrapper">
    <button class="btn-primary" kendoButton *ngIf="!opened" (click)="open()">Open window</button>

    <div class="k-overlay" *ngIf="opened"></div>

    <kendo-window title="Please provide additional data" *ngIf="opened" (close)="close()">
        хуяк хуяк
    </kendo-window>
</div>
