<!--if navigation-tree is not empty-->
<!--тут нужно на клик определять есть ли ширина у блока -->
<aside class="app-navigation cell-fixed-tree navigation-tree active">
   <!--[class.invisible]="visibility"-->

    <div class="app-navigation-title">Navigation</div>

    <i class="close">close</i>

    <div class="navigation-tree-search">
        <div class="cell-12">
            <form action="">
                <br/>
                <div class="search">
                    <input class="field" type="search" placeholder="Search in sidebar .."/>
                </div>
                <br/>
            </form>
        </div>
        <hr/>
    </div>

    <nav class="navigation-tree-content">
        <ul class="navigation-tree-list level-1">
            <li class="has-sub-level">
                <div class="item sub-level-title has-icon">
                    <span>
                        <i class="icon-mdi">&#xe313;</i>
                        <span class="elipsis">Nitra</span>
                    </span>
                </div>

                <ul class="sub-level level-2">
                    <li>
                        <div class="item has-icon">
                            <span class="">Assembly Area</span>
                        </div>
                    </li>

                    <li>
                        <div class="item has-icon">
                            <span>Door Panel Work Center</span>
                        </div>
                    </li>

                    <li>
                        <div class="item has-icon">
                            <span class="ellipsis">Packout A90</span>
                        </div>
                    </li>


                    <li class="has-sub-level">
                        <div class="item sub-level-title">
                            <span>
                                <i class="icon-mdi">&#xe313;</i>
                                 <span class="ellipsis">Packout A90</span>
                            </span>
                        </div>

                        <ul class="level-3 sub-level">
                            <li>
                                <div class="item">
                                    <span>Packout A90</span>
                                </div>
                            </li>

                            <li class="has-sub-level">
                                <!--active-->
                                <div class="item sub-level-title">
                                    <span>
                                        <i class="icon-mdi">keyboard_arrow_down</i>
                                         <span class="ellipsis">Packout A90</span>
                                    </span>
                                </div>

                                <!--hidden-->
                                <ul class="level-4 sub-level">
                                    <li>
                                        <div class="item">
                                            <span>Engel 1500</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item">
                                            <span>Engel 2000</span>
                                        </div>
                                    </li>

                                    <li class="has-sub-level">
                                        <div class="item sub-level-title">
                                                <span>
                                                    <i class="icon-mdi">keyboard_arrow_down</i>
                                                     <span class="ellipsis">Packout A90</span>
                                                </span>
                                        </div>

                                        <ul class="level-5 sub-level">
                                            <li>
                                                <div class="item">
                                                    <span>Engel 700</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="item">
                                                    <span>Haitian 1800</span>
                                                </div>
                                            </li>

                                            <li class="has-sub-level">
                                                <div class="item sub-level-title">
                                                        <span>
                                                             <i class="icon-mdi">keyboard_arrow_down</i>
                                                             <span class="ellipsis">Packout A90</span>
                                                        </span>
                                                </div>

                                                <ul class="sub-level">
                                                    <li>
                                                        <div class="item"><span>Engel 700</span></div>
                                                    </li>
                                                    <li>
                                                        <div class="item"><span>Haitian 1800</span></div>
                                                    </li>
                                                    <li>
                                                        <div class="item"><span>Haitian 2400</span></div>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>

                                    <li>
                                        <div class="item"><span>Krauss Maffei 1300</span></div>
                                    </li>
                                    <li>
                                        <div class="item"><span>Krauss Maffei 2000</span></div>
                                    </li>
                                    <li>
                                        <div class="item"><span>Krauss Maffei 800</span></div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <div class="item">
                            <span>Packout</span>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <span>Packout</span>
                        </div>
                    </li>
                    <li>
                        <div class="item">
                            <span>Packout</span>
                        </div>
                    </li>
                </ul>
            </li>

            <li>
                <div class="item">
                    <span class="ellipsis">BILLION</span>
                </div>
            </li>

            <li>
                <div class="item">
                    <span class="ellipsis">BILLION</span>
                </div>
            </li>

            <li>
                <div class="item">
                    <span class="ellipsis">BILLION</span>
                </div>
            </li>

            <li>
                <div class="item">
                    <span class="ellipsis">BILLION</span>
                </div>
            </li>
            <!--
                <li class="has-sub-level">
                    <div class="item sub-level-title">
                        <span>Visactory OEE 2</span>
                        <i class="icon-mdi">keyboard_arrow_down</i>
                    </div>

                    <ul class="sub-level">
                        <li><span>BILLION 750</span></li>
                        <li><span>BMB 800</span></li>
                        <li><span>Engel 1001</span></li>
                        <li><span>Engel 1400</span></li>
                        <li><span>Engel 2300</span></li>
                        <li><span>Engel 276</span></li>
                        <li><span>Engel 600</span></li>
                        <li><span>Engel 850</span></li>
                        <li><span>Haitian 1800</span></li>
                        <li><span>Haitian 2400</span></li>
                        <li><span>KM 500</span></li>
                        <li><span>Krauss Maffei 800</span></li>
                    </ul>
                </li>

                <li class="has-sub-level">
                    <div class="item sub-level-title">
                        <span>Visactory OEE 2</span>
                        <i class="icon-mdi">keyboard_arrow_down</i>
                    </div>

                    <ul class="sub-level">
                        <li><span>B02E LHD</span></li>
                        <li><span>B02E RHD</span></li>
                        <li><span>X62Ph2 Ass Line</span></li>
                        <li><span>XFD CONSOLE</span></li>
                        <li><span>XFD IP</span></li>
                        <li><span>XFD MY2017</span></li>
                        <li><span>VS IMM and ASSY</span></li>
                        <li><span>A9 L1</span></li>
                        <li><span>A9 L2</span></li>
                        <li><span>BILLION 1000</span></li>
                        <li><span>EDISON PLS1</span></li>
                        <li><span>EDISON PLS2</span></li>
                        <li><span>EDISON XP10 IP</span></li>
                        <li><span>EDISON XP10 VP</span></li>
                        <li><span>ENGEL 800</span></li>
                        <li><span>HUSKY 1650</span></li>
                        <li><span>X ASS LINE</span></li>
                        <li><span>X ASS LINE</span></li>
                        <li><span>X ASS LINE</span></li>
                    </ul>
                </li>
            -->

        </ul>
    </nav>

    <div class="navigation-tree-footer">
        <span class="btn-default"><i class="icon-mdi">add</i></span>
        <span class="btn-default"><i class="icon-mdi">autorenew</i></span>
    </div>
</aside>
<!--endif-->
