<!--Layout FULL-->
<div class="cell-fixed-content container-main" [ngClass]="{'container-main-full': fullContainerClass === true }">

    <app-header></app-header>

    <app-menu></app-menu>

    <div class="content">
        <!--<app-breadcrumbs></app-breadcrumbs>-->

        <router-outlet></router-outlet>
    </div>

    <app-footer></app-footer>
</div>

<!--Layout SHORT-->
<!--
<div class="container-main">

    <app-header-short></app-header-short>

    <div class="content">
        <router-outlet></router-outlet>
    </div>

    <app-footer></app-footer>
</div>
-->
