$popular-item-size: 150px;

.popular-pages {
    margin: 0 #{-$cell-gutter-width};

    .item {
        width: 50%;
        margin-bottom: $m_b-lg;
        padding: 0 $cell-gutter-width;
        transition: $transition;

        &:hover {
            transform: scale(1.1);
            z-index: $z-base;

             a { box-shadow: $box-shadow; }
        }

        > a {
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;

            align-items: center;
            padding-right: $cell-gutter-width*2;

            overflow: hidden;
            background-color: $white;
            color: $font-color-base;


            .image-wrapper {
                flex: 0 0 $popular-item-size;
                line-height: $popular-item-size;
                //padding: 20px;
                margin-right: $m_b-lg;
                text-align: center;
                //background-color: $btn-secondary;
                background: linear-gradient(138deg, $bg-blue 2%, $bg-green 67%);
                opacity: .4;

                i {
                    font-size: 50px;
                    color: $white;
                }
            }
        }
    }
}
@include respond-to("medium") {
    .popular-pages .item > a .image-wrapper {
        flex: 0 0 100px;
        line-height: 100px;
    }
}


//
//$colors: #c68a8a #26c6da #ff9800 #ffc107 #4db6ac #ffc107 #c68a8a;
//$i:0;
//
//@each $col in A, B, B3, B13, C, E, F, H, K, P, N, U, B15, D
//{
//    $i: $i + 1;
//
//    &.#{$col} {
//        background: nth($colors, $i);
//
//        &:hover {
//            background: darken(nth($colors, $i), 10%);
//        }
//    }
//}
