<p>AutoComplete</p><br />
<kendo-autocomplete [data]="listItems" [placeholder]="'Your favorite sport'">
</kendo-autocomplete>


<p>ComboBox</p><br />
<kendo-combobox [data]="listItems" [value]="'Basketball'">
</kendo-combobox>
<br /><br />

<p>DropDownList</p><br />
<kendo-dropdownlist [data]="listItems" [value]="'Basketball'">
</kendo-dropdownlist>
<br /><br />

<p>MultiSelect</p>
<br />
<kendo-multiselect [data]="listItems" [value]="value" [placeholder]="'Your favorite sports'"></kendo-multiselect>
<br /><br />
