<!-- if bla bla -->
    <!--Toggle VIEW panel -->
    <div class="viewbox">
        <div class="cell-side-by-side">
            <div class="cell-md-column">
                <div class="inline text-lg p_r-10">Properties</div>
                <div class="inline cell-sm">
                    <a class="btn-default">Expand all <i class="icon-mdi">keyboard_arrow_down</i></a>
                    <a class="btn-default" routerLink="/">Collapse all <i class="icon-mdi">keyboard_arrow_up</i></a>
                </div>
            </div>

            <div>
                 <span (click)="viewMode ='tile'">
                    <i class="icon-mdi-lg icon-action" [class.disabled]="viewMode == 'tile'">view_module</i>
                </span>

                <span (click)="viewMode ='line'">
                    <i class="icon-mdi-lg icon-action" [class.disabled]="viewMode == 'line'">view_stream</i>
                </span>
            </div>

        </div>
    </div>
<!--endif-->

<div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'tile'">
        <app-properties-tile></app-properties-tile>
    </div>

    <div *ngSwitchCase="'line'">
        <app-properties-line></app-properties-line>
    </div>
</div>
