// page content
.content {
    @include clearfix;
    padding-top:  $header-height + $m_b-lg;
    padding-left: $cell-gutter-width*2;
    padding-right: $cell-gutter-width*2;
    min-height: calc(100vh - #{$footer-height});
}

.content-flex {
    display: flex;
}

@include respond-to("medium") {
    .content {
        padding-left: $cell-gutter-width;
        padding-right: $cell-gutter-width;
    }
}
