@mixin make-cell($i: 1, $list: ".cell-#{$i}") {
    @for $i from 2 through $cell-columns {
        $list: "#{$list}, .cell-#{$i}";
    }
    #{$list} {
        position: relative;
        width: 100%;
        //min-height: 1px;
        padding-left: $cell-gutter-width;
        padding-right: $cell-gutter-width;
    }
}

@mixin calc-cell {
    @for $i from 1 through $cell-columns {
        .cell-#{$i} {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100% / $cell-columns * $i;
            flex: 0 0 100% / $cell-columns * $i;
            max-width: 100% / $cell-columns * $i
        }
    }
}

@include make-cell;

@include calc-cell;

.row {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.cell-auto {
    position: relative;
    padding-right: $cell-gutter-width;
    padding-left: $cell-gutter-width;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%
}
