// Row
/*.row {
    @include make-row;
    @include clearfix;
}*/

// Cell
//@include make-cell;
//@include calc-cell;

// Flex
.cell-flex-list    { @include flex-wrap; }

.cell-list-scroll  { @include cell-list-scroll; }

@include calc-cell-list;

// block side by side
.cell-side-by-side {
    @include flex;

    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;

    justify-content: space-between;
    align-items: center;

    > div:first-child { margin-right: auto; }

    > div:last-child  { margin-left: auto; }
}

// Layout

// toggle class 'container-main-full'
.cell-fixed-content {
    transition: $transition;

    // fixed panel + tree
    padding-left: $menu-width-short + $tree-width-full;

    &.container-main-full {
        // fixed panel
        padding-left: $menu-width-short;

        .navigation-tree:not(.active) {
            width: $tree-width-short;
            overflow: hidden;
        }
    }
}

.cell-fixed-tree {
    @include position(fixed, $header-height, null, null, $menu-width-short);
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    flex-direction: column;
    justify-content: space-around;

    height: calc(100vh - #{$header-height});
    width: $tree-width-short;
    z-index: $z-base + 1;
    overflow-x: hidden;
    transition: all $transition;

    &.active {
        width: $tree-width-full;
    }
}

.cell-fixed-panel {
    @include position(fixed, 0, null, null, 0);
    width: $menu-width-full;
    height: 100%;
}

@include respond-to("medium") {
    .cell-fixed-content {
        padding-left: 0;

        &.container-main-full {
            // fixed panel
            padding-left: 0;

             .navigation-tree:not(.active) {
                width: $tree-width-short;
                overflow: hidden;
            }
        }
    }
}
