.cell-md-visible { display: none; }

// Respond
@include respond-to("large") {
    .cell-lg { width: 100% !important; }
    .cell-lg-6 { width: 50% !important; }

    .cell-lg-none {
        display: none !important;
        visibility: hidden !important;
    }
}

@include respond-to("medium") {
    .cell-md { width: 100% !important; }
    .cell-md-6 { width: 50% !important; }

    .cell-md-none {
        display: none !important;
        visibility: hidden !important;
    }

    .cell-md-visible { display: block; }

    .cell-md-column {
        flex-direction: column;
        > div { margin-left: 0 !important; }
    }
}

@include respond-to("small") {
    .cell-sm { width: 100% !important; }
    .cell-sm-6 { width: 50% !important; }

    .cell-sm-none {
        display: none !important;
        visibility: hidden !important;
    }
}

@include respond-to("small-x") {
    .cell-xs { width: 100% !important; }
    .cell-xs-6 { width: 50% !important; }

    .cell-xs-none {
        display: none !important;
        visibility: hidden !important;
    }
}

@include respond-to("small-xx") {
    .cell-xxs { width: 100% !important; }
    .cell-xxs-6 { width: 50% !important; }

    .cell-xxs-none {
        display: none !important;
        visibility: hidden !important;
    }
}
