// Wrapper default
.wrapper {
    @include make-wrapper;
    @include clearfix;
}

.wrapper-sm {
    @include make-wrapper;
    max-width: $cell-gutter-width*65;
}

.wrapper-md {
    @include make-wrapper;
    max-width: $cell-gutter-width*45;
}
