// color
.primary            { color: $primary-color !important; }
.secondary          { color: $secondary-color !important; }
.black              { color: $black !important; }
.blue               { color: $blue !important; }
.gray               { color: $gray !important; }
.green              { color: $green !important; }
.red                { color: $red !important; }
.white              { color: $white !important; }

// background
.bg-primary         { background-color: $bg-primary }
.bg-secondary       { background-color: $bg-secondary }
.bg-primary-light   { background-color: $bg-primary-light }
.bg-secondary-light { background-color: $bg-secondary-light }

.bg-base            { background-color: $bg-base }
.bg-gray            { background-color: $bg-gray }
.bg-gray-light      { background-color: $bg-gray-light }
.bg-gray-dark       { background-color: $bg-gray-dark }
.bg-blue            { background-color: $bg-blue }
.bg-green           { background-color: $bg-green }
.bg-orange          { background-color: $bg-orange }
