// Headings
.h1, .h2, .h3, .h4 {
    font-family: $font-family-heading;
    font-weight: $normal;
    line-height: 1.2;
}

.h1 {
    margin-bottom: $m_b-lg;
    font-size: $text-xx-lg;
}
.h2 {
    margin-bottom: $m_b-md;
    font-size: $text-x-lg;
}

.h3 {
    margin-bottom: $m_b-sm;
    font-size: $text-lg;
}

.h4 {
    margin-bottom: $m_b-sm;
    font-size: $text-md;
}
