// Link
a,
.link {
    color: $link-color;
    text-decoration: none;
    cursor: pointer;
    transition: color $transition;

    &:hover {
        color: $link-hover-color;
    }
}

/// >????
.link-action {
    color: $link-color;
    cursor: pointer;

    [class*="icon"] {
        font-size: $font-size-icon-lg;
    }
}
