.list-default,
.list-disc,
.list-numbered,
.list-scroll {
    li {
        margin-bottom: $m_b-sm;
        padding-bottom: $cell-gutter-width*0.5;

        ul {
            margin-bottom: $m_b-sm;
            padding-left: $cell-gutter-width*1.5;
        }
    }
}

.list {
    &-default {}

    &-disc {
        li {
            position: relative;
            padding-left: $cell-gutter-width*1.5;

            &:before {
                content: "";
                @include position(absolute, 0, null, null, 0);
                transform: translate(0%, 5px);
                display: block;
                width: 5px;
                height: 5px;
                border-radius: $border-radius-round;
                background-color: $gray;
            }
        }
    }

    &-numbered {
        padding-left: $cell-gutter-width*2;
        list-style-type: decimal;
    }

    &-scroll {
        position: relative;
        max-height: 250px;
        overflow-x: hidden;
        overflow-y: auto;

        li { padding-right: $cell-gutter-width*0.5; }
    }

    &-sublevel {
        li {
            padding-left: 20px;
        }
    }
}
