<app-navigation-tree></app-navigation-tree>

<div class="viewbox">
    <app-dropdown></app-dropdown>
</div>

<div class="fixed-action-place">
    <a class="btn-fixed btn-secondary"><i class="icon-mdi">add</i></a>
</div>

<p class="h1">Heading h1 - The quick brown fox jumps over the lazy dog</p>

<app-tabs></app-tabs>


<a id="colors"></a>
<div class="viewbox">
    <p class="h4">Background color</p>
    <div class="row list-color m_b-lg list-default">
        <div class="cell-3">
            <div class="item bg-base">bg-base</div>
            <div class="item bg-gray-light">bg-gray-light</div>
            <div class="item bg-gray">bg-gray</div>
            <div class="item bg-gray-dark">bg-gray-dark</div>
        </div>

        <div class="cell-3">
            <div class="item bg-primary">bg-primary</div>
            <div class="item bg-secondary">bg-secondary</div>
            <div class="item bg-primary-light">bg-primary</div>
            <div class="item bg-secondary-light">bg-secondary</div>
        </div>

        <div class="cell-3">
            <div class="item bg-blue">bg-blue</div>
            <div class="item bg-green">bg-green</div>
            <div class="item bg-orange">bg-orange</div>
        </div>
    </div>

    <p class="h4">Text color</p>
    <ul>
        <li class="primary"><p class="h4 bold">Color text - primary</p></li>
        <li class="secondary"><p class="h4 bold">Color text - secondary</p></li>
        <li class="blue"><p class="h4 bold">Color text - blue</p></li>
        <li class="gray"><p class="h4 bold">Color text - gray</p></li>
        <li class="green"><p class="h4 bold">Color text - green</p></li>
        <li class="red"><p class="h4 bold">Color text - red</p></li>
    </ul>

    <p class="h4">Border color</p>
    <ul class="cell-flex-list cell-list-6 list-color m_b-lg list-default">
        <li class="bg-border-color"><br/>border-color</li>
        <li class="bg-border-color-light"><br/>border-color-light</li>
    </ul>
</div>


<!--Heading-->
<a id="heading"></a>
<div class="viewbox">
    <p class="h1">Heading h1 - The quick brown fox jumps over the lazy dog</p>
    <p class="h2">Heading h2 - The quick brown fox jumps over the lazy dog</p>
    <p class="h3">Heading h3 - The quick brown fox jumps over the lazy dog</p>
    <p class="h4">Heading h4 - The quick brown fox jumps over the lazy dog</p>
    <pre>
<code class="code">&lt;p class="h1"&gt;Heading&lt;/p&gt;
&lt;p class="h2"&gt;Heading&lt;/p&gt;
&lt;p class="h3"&gt;Heading&lt;/p&gt;
&lt;p class="h4"&gt;Heading&lt;/p&gt;
</code>
</pre>
</div>


<!--Paragraph-->
<div class="viewbox">
    <p class="h4">Paragraph</p>
    <div class="text">
        <p>The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The
            quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog.</p>
        <p>The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog.The
            quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog.The
            quick
            brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick
            brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog.The quick
            brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog.</p>
    </div>

    <pre>
<code class="code">&lt;div class="text"&gt;
    &lt;p&gt;text&lt;/p&gt;
&lt;/div&gt;
</code>
</pre>
</div>


<a id="lists"></a>

<p class="h2">Lists</p>

<div class="row">
    <div class="cell-6 cell-lg">
        <div class="viewbox">
            <p class="h4">List default</p>

            <ul class="list-default">
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt
                </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt
                </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt
                </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt
                </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt
                </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt
                </li>
            </ul>
        </div>
    </div>

    <div class="cell-6 cell-lg">
        <div class="viewbox">
            <p class="h4">List disc</p>

            <ul class="list-disc">
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt
                </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt
                </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt
                </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt
                </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt
                </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt
                </li>
            </ul>
        </div>
    </div>

    <div class="cell-6 cell-lg">
        <div class="viewbox">
            <p class="h4">List scroll</p>

            <ul class="list-scroll">
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt
                </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt
                </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt
                </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt
                </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt
                </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt
                </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt
                </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt
                </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt
                </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt
                </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt
                </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt
                </li>
            </ul>
        </div>
    </div>

    <div class="cell-6 cell-lg">
        <div class="viewbox">
            <p class="h4">List numbered</p>

            <ul class="list-numbered">
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt
                </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt
                </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt
                </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt
                </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt
                </li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt
                </li>
            </ul>
        </div>
    </div>
</div>

<p class="h2">Form controls</p>

<div class="viewbox">
    <div class="row">
        <div class="cell-6 cell-lg">
            <p class="h4">Active input-checkboxes</p>

            <div class="form-item">
                <label class="type-checkbox">
                    <input type="checkbox" name="type1" checked/>
                    <i class="check"></i> Some text
                </label>

                <label class="type-checkbox">
                    <input type="checkbox" name="type1"/>
                    <i class="check"></i> Some text
                </label>
            </div>

            <p class="h4">Disabled input-checkboxes</p>
            <div class="form-item">
                <label class="type-checkbox disabled">
                    <input type="checkbox" name="type1" checked/>
                    <i class="check"></i> Some text
                </label>

                <label class="type-checkbox disabled">
                    <input type="checkbox" name="type1"/>
                    <i class="check"></i> Some text
                </label>
            </div>

            <pre>
<code class="code">&lt;label class="type-checkbox"&gt;
    &lt;input type="checkbox" name="type1" checked /&gt;
    &lt;i class="check"&gt;&lt;/i&gt; Some text
&lt;/label&gt;

&lt;label class="type-checkbox"&gt;
    &lt;input type="checkbox" name="type1" disabled /&gt;
    &lt;i class="check"&gt;&lt;/i&gt; Some text
&lt;/label&gt;
</code>
</pre>

        </div>

        <div class="cell-6 cell-lg">
            <p class="h4">Active radio-buttons</p>
            <div class="form-item">
                <label class="type-radio">
                    <input type="radio" name="type1" checked/>
                    <i class="check"></i> Some text
                </label>

                <label class="type-radio">
                    <input type="radio" name="type1"/>
                    <i class="check"></i> Some text
                </label>
            </div>

            <div class="form-item">
                <p class="h4">Disabled radio-buttons</p>
                <label class="type-radio disabled">
                    <input type="radio" name="type1" checked/>
                    <i class="check"></i> Some text
                </label>

                <label class="type-radio disabled">
                    <input type="radio" name="type1"/>
                    <i class="check"></i> Some text
                </label>
            </div>

            <pre>
<code class="code">&lt;label class="type-radio"&gt;
    &lt;input type="radio" name="type1" checked /&gt;
    &lt;i class="check"&gt;&lt;/i&gt; Some text
&lt;/label&gt;

&lt;label class="type-radio"&gt;
    &lt;input type="radio" name="type1" disabled /&gt;
    &lt;i class="check"&gt;&lt;/i&gt; Some text
&lt;/label&gt;
</code>
</pre>
        </div>
    </div>
</div>


<div class="viewbox">
    <div class="form-item">
        <div class="cell-3">
            <label for="input-1">Input обыкновенный</label>
        </div>
        <div class="cell-6 cell-lg">
            <input id="input-1" class="field" type="type" name="name" value="" placeholder="For example"/>
        </div>
    </div>

    <div class="form-item">
        <div class="cell-3">
            <label for="input-2">Input с ошибкой</label>
        </div>
        <div class="cell-6 cell-lg">
            <input id="input-2" class="field error" type="text" placeholder="For example"/>
            <div class="error">бла бла ошибка тут плохая</div>
        </div>
    </div>

    <div class="form-item">
        <div class="cell-3">
            <label for="input-3">Input disabled</label>
        </div>
        <div class="cell-6 cell-lg">
            <input id="input-3" class="field disabled" type="text"
                   placeholder="For example"/>
        </div>
    </div>

    <div class="form-item">
        <div class="cell-3">
            <label class="required" for="input-4">Поле обязательное - смотреть на звездочку</label>
        </div>
        <div class="cell-6 cell-lg">
            <input id="input-4" class="field" type="text" placeholder="For example"/>
        </div>
    </div>

    <div class="form-item">
        <div class="cell-3">
            <label class="required" for="input-5">Textarea обыкновенный</label>
        </div>

        <div class="cell-6 cell-lg">
            <textarea id="input-5" class="field" placeholder="For example"></textarea>
        </div>
    </div>

    <div class="form-item">
        <div class="cell-3">
            <label class="required">Textarea обыкновенный</label>
        </div>

        <div class="cell-6 cell-lg">
            <div class="textbox-number">
                <input type="text"/>

                <div class="textbox-number-wrap">
                    <span class="textbox-number-up"></span>
                    <span class="textbox-number-down"></span>
                </div>
            </div>
        </div>
    </div>


    <pre>
<code class="code">&lt;input id="input" class="field" type="type" name="name" placeholder="For example" /&gt;<br/><br/>
&lt;input id="input" class="field disabled" type="text" placeholder="For example" /&gt;<br/><br/>
&lt;input id="input" class="field error" type="text" placeholder="For example" /&gt;
&lt;div class="error"&gt;бла бла ошибка тут плохая&lt;/div&gt;<br/><br/>
&lt;textarea id="input" class="field" placeholder="For example"&gt;&lt;/textarea&gt;<br/><br/>
&lt;div class="textbox-number"&gt;
    &lt;input type="text"/&gt;

    &lt;div class="textbox-number-wrap"&gt;
        &lt;span class="textbox-number-up"&gt;&lt;/span&gt;
        &lt;span class="textbox-number-down"&gt;&lt;/span&gt;
    &lt;/div&gt;
&lt;/div&gt;

</code>
</pre>
</div>


<div class="viewbox">
    <div class="row form-item">
        <div class="cell-6 cell-lg">
            <p class="h4">Button primary</p>

            <input class="btn-primary" type="button" value="Button primary"/>
            <a class="btn-primary disabled" href="">Button primary</a>
        </div>

        <div class="cell-6 cell-lg">
            <p class="h4">Button secondary</p>

            <input class="btn-secondary" type="button" value="Button secondary"/>
            <a class="btn-secondary disabled" href="">Button secondary</a>
        </div>
    </div>

    <div class="row form-item">
        <div class="cell-6 cell-lg">
            <p class="h4">Button confirm</p>

            <input class="btn-confirm" type="button" value="Button confirm"/>
            <a class="btn-confirm disabled" href="">Button confirm</a>
        </div>

        <div class="cell-6 cell-lg">
            <p class="h4">Button with icon</p>

            <a class="btn-icon btn-default" href="">
                <i class="icon-mdi">favorite_border</i>
                Button icon
            </a>
            <a class="btn-icon btn-default" href="">
                <i class="icon-mdi">highlight_off</i>
                Button icon
            </a>
            <a class="btn-icon btn-default" href="">
                <i class="icon-mdi">lock_open</i>
                Button icon
            </a>

            <a class="btn-icon btn-default" href="">
                <i class="icon-mdi">delete</i>
                Button icon
            </a>
        </div>
    </div>

    <div class="row form-item">
        <div class="cell-6 cell-lg">
            <p class="h4">Button danger</p>

            <input class="btn-danger" type="button" value="Button danger"/>
            <a class="btn-danger disabled" href="">Button danger</a>
        </div>

        <div class="cell-6 cell-lg">
            <p class="h4">Button default</p>

            <input class="btn-default" type="button" value="Button default"/>
            <a class="btn-default disabled" href="">Button default</a>
        </div>
    </div>

    <hr/>

    <div class="row form-item">
        <div class="cell-6 cell-lg">
            <input class="field" type="type" name="name" value="" placeholder="For example">
        </div>

        <div class="cell-6 cell-lg">
            <input class="btn-primary" type="button" value="Button primary"/>
        </div>
    </div>
</div>


<p class="h2">Chips</p>

<div class="viewbox">
    <p class="h3">Chips дефолтный</p>
    <a href="" class="chips active">Default</a>
    <a href="" class="chips">Default</a>

    <br/><br/>

    <p class="h3">Chips с иконкой</p>
    <a href="" class="chips chips-icon-right">Filters <i class="icon-mdi">&#xe313;</i></a>
    <a href="" class="chips chips-icon-right active">Filters <i class="icon-mdi">&#xe313;</i></a>

    <br/><br/>

    <p class="h3">Chips маленькие</p>
    <span class="chips chips-small active">Default small</span>
    <span class="chips chips-small">Default small</span>
    <span class="chips chips-small">Default small</span>
    <span class="chips chips-small">Default small</span>


    <p class="h3">Chips маленькие с иконкой</p>
    <span class="chips chips-small active">Default small<i class="icon-mdi">close</i></span>
    <span class="chips chips-small chips-icon-right">Default small<i class="icon-mdi">close</i></span>
    <span class="chips chips-small chips-icon-right">Default small<i class="icon-mdi">close</i></span>
    <span class="chips chips-small chips-icon-right">Default small<i class="icon-mdi">close</i></span>
    <span class="chips chips-small chips-icon-right">Default small<i class="icon-mdi">close</i></span>
</div>

<a id="simple-table"></a>

<p class="h2">Simple table</p>

<div class="viewbox">
    <div class="table">
        <div class="table-row table-head">
            <div class="table-cell">Тут какой-то простой заголовок</div>

            <div class="table-cell">Тут тоже</div>

            <div class="table-cell">Удивительно но и то заголовок таблички</div>
        </div>

        <div class="table-row">
            <div class="table-cell">Данные</div>

            <div class="table-cell">Данные</div>

            <div class="table-cell">Данные</div>
        </div>

        <div class="table-row">
            <div class="table-cell">Данные</div>

            <div class="table-cell">Данные</div>

            <div class="table-cell">Данные</div>
        </div>

        <div class="table-row">
            <div class="table-cell">Данные</div>

            <div class="table-cell">Данные</div>

            <div class="table-cell">Данные</div>
        </div>
    </div>
</div>


<a id="messageboxes"></a>

<p class="h2">Messageboxes</p>

<div class="viewbox">
    <div class="text">
        <p>Логика работы - они статические, показываются в контенте странички и
            предупреждают/информируют о каких либо изменениях на сайте, не пропадают через время, а
            могут быть показаны по условию.</p>
    </div>

    <div class="messagebox">
        <div class="item-success">
            <p class="h4">Messagebox success</p>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt<br/>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt
            </div>
        </div>
    </div>

    <div class="messagebox">
        <div class="item-notice">
            <p class="h4">Messagebox notice</p>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt<br/>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt
            </div>
        </div>
    </div>

    <div class="messagebox">
        <div class="item-error">
            <p class="h4">Messagebox error</p>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt<br/>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt
            </div>
        </div>
    </div>
</div>


<a id="notification"></a>

<p class="h2">Notification</p>

<div class="viewbox">
    <div class="text">
        <p>
            Логика работы - должны быть показаны после какого-либо действия пользователя ( удаления,
            добавления и т.д. ) информируют о совершенном действии,
            пропадают через время. Отображаются фиксированно относительно экрана. Могуть быть
            встроенными в контент - но это не точно.
        </p>
    </div>

    <!--<div class="notification inbuild">-->
    <!--&lt;!&ndash;<i class="close">close</i> ???? &ndash;&gt;-->
    <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt-->
    <!--</div>-->

    <!--<div class="notification">
        <i class="close">close</i>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
    </div>-->
</div>
