<div class="tabs">
    <ul class="tabs-scroll-app">
        <li class="tabs-item active"><a href="#colors">Colors</a></li>
        <li class="tabs-item"><a href="#properties-grid">Properties grid</a></li>
        <li class="tabs-item"><a href="#properties-line">Properties line</a></li>
        <li class="tabs-item"><a href="#heading">Heading</a></li>
        <li class="tabs-item"><a href="#lists">Lists</a></li>
        <li class="tabs-item"><a href="#lists">Lists</a></li>
        <li class="tabs-item"><a href="#form-controls">Form controls</a></li>
        <li class="tabs-item"><a href="#buttons">Buttons</a></li>
        <li class="tabs-item"><a href="#simple-table">Simple table</a></li>
        <li class="tabs-item"><a href="#messageboxes">Messageboxes</a></li>
        <li class="tabs-item"><a href="#notification">Notification</a></li>
    </ul>
</div>
<!--

<kendo-tabstrip>
    <kendo-tabstrip-tab [title]="'Colors'" [selected]="true">
        <ng-template kendoTabContent>

        </ng-template>
    </kendo-tabstrip-tab>

    <kendo-tabstrip-tab [title]="'Properties grid'">
        <ng-template kendoTabContent>

        </ng-template>
    </kendo-tabstrip-tab>

    <kendo-tabstrip-tab [title]="'Properties line'">
        <ng-template kendoTabContent>

        </ng-template>
    </kendo-tabstrip-tab>

    <kendo-tabstrip-tab [title]="'Heading'">
        <ng-template kendoTabContent>

        </ng-template>
    </kendo-tabstrip-tab>

    <kendo-tabstrip-tab [title]="'Lists'">
        <ng-template kendoTabContent>

        </ng-template>
    </kendo-tabstrip-tab>

    <kendo-tabstrip-tab [title]="'Form controls'">
        <ng-template kendoTabContent>

        </ng-template>
    </kendo-tabstrip-tab>

    <kendo-tabstrip-tab [title]="'Buttons'">
        <ng-template kendoTabContent>

        </ng-template>
    </kendo-tabstrip-tab>

    <kendo-tabstrip-tab [title]="'Simple table'">
        <ng-template kendoTabContent>

        </ng-template>
    </kendo-tabstrip-tab>

    <kendo-tabstrip-tab [title]="'Messageboxes'">
        <ng-template kendoTabContent>

        </ng-template>
    </kendo-tabstrip-tab>

    <kendo-tabstrip-tab [title]="'Notification'">
        <ng-template kendoTabContent>

        </ng-template>
    </kendo-tabstrip-tab>
</kendo-tabstrip>
-->
