.list-color {
    .item {
        padding: $cell-gutter-width;
    }
}

.bg-border-color {
    background-color: $border-color;
}

.bg-border-color-light {
    background-color: $border-color-light;
}
