$accent:                    $bg-gray;
$base-border:               $border-color;
$base-bg:                   $white;
$input-default-width:       100%;
$line-height:               1.4;
$widget-border:             $border-color;
$widget-bg:                 $bg-gray-light;
$padding-x:                 10px; // input
$padding-y:                 6px;  // input
$input-default-height:      $input-height;
$text-color:                $font-color-base;
$base-gradient:             none;
$border-radius-lg:          20px;
$text-sm:                   $text-sm;
$font-color-base:           $font-color-base;
$input-focused-border:      $gray;
$icon-size:                 $font-size-icon - 2px;


// for dropdowns
$button-hovered-gradient:   none;
$button-hovered-border:     $font-color-base;
$button-hovered-bg:         inherit;
$button-bg:                 $input-bg;
$input-max-width:           $input-max-width;
$button-hovered-bg:         inherit;
$hovered-bg:                $input-bg;
