// core cell
$cell-max-width:                73.75rem; // 1200px
$cell-min-width:                18.75rem; // 320px
$cell-columns:                  12;                // column counts
$cell-gutter-width:             0.625rem; // 10px

// screen option == main media
$screen-lg:                     1026px;
$screen-md:                     800px;
$screen-sm:                     642px;
$screen-sm-x:                   502px;
$screen-sm-xx:                  362px;

// path
$default-path-img:              "assets/img";
$default-fonts:                 "assets/fonts";

// margin
$m_b-sm:                        $cell-gutter-width*0.5;
$m_b-md:                        $cell-gutter-width;
$m_b-lg:                        $cell-gutter-width*2;

// transition
$transition:                    0.4s ease 0s;

// z-index
$z-base:                        1;
$z-dropdown:                    11;
$z-dropdown-fullscreen:         111;

// typography
$font-family-base:              Arial, sans-serif ;
$font-family-heading:          'Open Sans', sans-serif;
$font-family-icon:              Material Icons;
$font-size-icon:                21px;
$font-size-icon-sm:             18px;
$font-size-icon-lg:             28px;
$font-size-base:                14px;
$font-color-base:               #222;
$line-height-base:              1.2;

// font size
$text-xx-lg:                    24px;
$text-x-lg:                     20px;
$text-lg:                       18px;
$text-md:                       15px;
$text-sm:                       13px;

$text-indent:                  -999rem;

$bold:                          700;
$normal:                        400;

// base color
$black:                         #222222;
$blue:                          #039BE5; // #3388ee
$gray:                          #5a707d;
$green:                         #0acf97;
$orange:                        #FFB300;
$red:                           #EF5350;
$white:                         #ffffff;

// main
$primary-color:                 #506ee4;
$secondary-color:               $green;//#6457E6; //$orange

// dark
$dark:                          #242939;

// links color
$link-color:                    $blue;
$link-hover-color:              darken($link-color, 10%);

// base background
$bg-primary:                    $primary-color;
$bg-secondary:                  $secondary-color;
$bg-primary-light:              lighten($primary-color, 30%);
$bg-secondary-light:            lighten($secondary-color, 25%);

// ***
$bg-base:                       #f4f6fa; //lighten($gray, 50%);
$bg-gray:                       lighten($gray, 44%);
$bg-gray-light:                 lighten($gray, 56%); // adjust-color($gray, $hue: 350, $lightness: 55)
$bg-gray-dark:                  lighten($gray, 5%);
$bg-blue:                       lighten($blue, 11%);
$bg-green:                      lighten($green, 35%);
$bg-orange:                     lighten($orange, 35%);


// ***
$bg-color-error:                lighten($red, 35%);
$bg-color-success:              lighten($green, 35%);
// ***
$bg-opacity:                    rgba($white, 0.5 ); //rgba(241, 241, 241, 0.8);
$bg-opacity-fade:               rgba($black, 0.3);

// base border
$border-color:                  lighten($gray, 40%);
$border-color-light:            lighten($gray, 45%);

$box-shadow:                    0px 0px 13px 0px rgba(82,63,105,0.1); //0px 6px 5px 0 rgba(51,51,51,.05), 0 1px 4px 0 rgba(51, 51, 51, 0.04);
$box-shadow-hover:              0px 0px 10px 0px rgba(0, 0, 0, 0.3), 0px 0px 0px 1px rgb(217, 224, 228);
$box-shadow-border:             1px 1px 0 0 $border-color;

// border-radius
$border-radius-small:           2px;
$border-radius-medium:          4px;
$border-radius-round:           50%;


// *** SIZES ***
// HEADER
$header-bg:                     $primary-color; //linear-gradient(135deg, #8f75da 0, #727cf5 60%); //
$header-bg-hover:               darken($header-bg, 10%); //$bg-opacity;
$header-height:                 $cell-gutter-width*4.5;

$tree-width-full:               20rem;
$tree-width-short:              0;

$menu-width-short:             $cell-gutter-width*5;
$menu-width-full:              $cell-gutter-width*26;


$footer-height:                 40px;

// input
$input-height:                  32px;
$input-bg:                      $bg-gray-light;
$input-font-family:             $font-family-base;
$input-font-size:               $font-size-base;
$input-color:                   $gray;
$input-max-width:               800px;


// *** THEMES ***
$themes: (
    default: (
        '$primary-color'    : $blue,
        '$secondary-color'  : $orange,
        '$bg-base'          : $bg-base,
        '$border-color'     : $border-color,

        // header
        //'$header-bg'        : $blue,
        '$header-bg-hover'  : darken($header-bg, 10%), //$bg-opacity;
        '$header-text-color': $white,

        '$bg-gray-light'    : $bg-gray-light
    )
);
