<header class="header">
    <div class="item-toggle-panel cell-md-visible" id="toggle-panel">
         <span class="icon-box">
            <i class="icon-mdi">more_vert</i>
         </span>
    </div>

    <div class="item-toggle-navigation"

    >
         <span class="icon-box">
            <i class="icon-mdi">menu</i>
         </span>
    </div>

    <div class="logo"><a href="/">AGW</a></div>

    <div class="header-dropdown-item">
        <div class="item-widget">
            <i class="icon-mdi">settings</i>
        </div>

        <div class="header-dropdown-content">
            <div class="cell-flex-list cell-list-4 widgets">
                <div>
                    <i class="icon-mdi icon-circle m_b-md">lock</i>
                    <p class="text-sm">Виджет один</p>
                </div>

                <div>
                    <i class="icon-mdi icon-circle m_b-md">announcement</i>
                    <p class="text-sm">Виджет два</p>
                </div>

                <div>
                    <i class="icon-mdi icon-circle m_b-md">perm_data_setting</i>
                    <p class="text-sm">Виджет три</p>
                </div>

                <div>
                    <i class="icon-mdi icon-circle m_b-md">print</i>
                    <p class="text-sm">Виджет сдлиннымназванием</p>
                </div>
            </div>
        </div>
    </div>

    <div class="header-dropdown-item">
        <div class="item-language">
            <i class="icon-mdi">language</i>
        </div>

        <div class="header-dropdown-content language">
            <ul>
                <li><span>En</span></li>
                <li><span>Ru</span></li>
            </ul>
        </div>
    </div>

    <div class="header-dropdown-item">
        <div class="item-user">
            <i class="icon-mdi">person</i>
        </div>

        <div class="header-dropdown-content">
            <div class="heading-box">
                <p class="h4 text-md ellipsis">
                    Abrurakhman AsimptotovichAbrurakhmanAsimptotovichAbrurakhman Asimptotovich
                </p>
            </div>

            <ul>
                <li><a href=""><i class="icon-mdi">settings</i> Settings</a></li>
                <li><a href=""><i class="icon-mdi">power_settings_new</i> Logout</a></li>
            </ul>
        </div>
    </div>
</header>
