<div class="">
    <ul class="index-list cell-flex-list cell-list-6">
        <li class="item">
            <div class="viewbox">
                <a href="">
                    <span class="icon"></span>
                    <span class="title"> Bla lalalalallaal</span>
                </a>
            </div>
        </li>

        <li class="item">
            <div class="viewbox">
                <a href="">
                    <span class="icon"></span>
                    <span class="title"> Bla lalalalallaal</span>
                </a>
            </div>
        </li>

        <li class="item">
            <div class="viewbox">
                <a href="">
                    <span class="icon"></span>
                    <span class="title"> Bla lalalalallaal</span>
                </a>
            </div>
        </li>

        <li class="item">
            <div class="viewbox">
                <a href="">
                    <span class="icon"></span>
                    <span class="title"> Bla lalalalallaal</span>
                </a>
            </div>
        </li>
    </ul>
</div>
