<div class="viewbox">
    <span class="chips"(click)="toggleFilters()">
        <i class="icon-mdi">filter_list</i> {{buttonName}}
    </span>

    <!--цей блок повинен бути прихований на клік -->
    <div class="clearfix"
         [@showHideTrigger]="'show'"
         *ngIf="showFilters"
    >
        <div class="cell-flex-list row">
            <div class="cell-3">
                <div class="form-item">
                    <label>Part No: </label>
                    <input class="field" type="text">
                </div>
            </div>

            <div class="cell-3">
                <div class="form-item">
                    <label>Part Family: </label>
                    <input class="field" type="text">
                </div>
            </div>
            <div class="cell-3">
                <div class="form-item">
                    <label>Customer PartNo: </label>
                    <input class="field" type="text">
                </div>
            </div>
            <div class="cell-3">
                <div class="form-item">
                    <label>Description: </label>
                    <input class="field" type="text">
                </div>
            </div>
            <div class="cell-3">
                <div class="form-item">
                    <label>Product: </label>
                    <input class="field" type="text">
                </div>
            </div>
            <div class="cell-3">
                <div class="form-item">
                    <label>Date From</label>
                    <input class="field" type="text">
                </div>
            </div>

            <div class="cell-12">
                <div class="form-item">
                    <label class="type-checkbox">
                        <input type="checkbox" name="type1" checked="">
                        <i class="check"></i> Reorder mode
                    </label>
                </div>
            </div>
        </div>

        <hr />
    </div>

    <div class="float-right">
        <a class="btn-default">Reset</a>
        <a class="btn-secondary">Search</a>
    </div>
</div>
