// Breadcrumbs
.breadcrumbs {
    @include clearfix;
    width: 100%;
    white-space: nowrap;
    margin-bottom: $m_b-lg;

    li {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        line-height: $font-size-base;
        padding-right: $cell-gutter-width*1.5;

        &:after, a, span {
            color: $gray;
        }

        &:after {
            content: "\e315";
            @include position(absolute, 0, -2px, null, null);
            font-family: $font-family-icon;
            font-size: $text-lg;
            font-style: normal;
            font-weight: normal;
            text-decoration: inherit;
        }

        &:first-child {
            a {
                position: relative;
                top: -3px;
            }
        }

        &:last-child {
            @include disabled(0.7, null);

            &:after { display: none; }
        }
    }
}

@include respond-to("medium") {
    .breadcrumbs {
        // СДЕЛАТЬ СКРОЛЛ
    }
}
