.cell-fixed header.header {
    left: $menu-width-short;
    width: calc(100% - #{$menu-width-short});
}

header.header {
    @include position(fixed, 0, null, null, 0);
    //@include background-color(header-bg);
    background: $header-bg;
    width: 100%;
    height: $header-height;
    z-index: $z-base + 1; //  тут определиться с видом меню на адаптиве
    box-shadow: $box-shadow;
    //text-align: center; а то AGW  як приблуда по центру

    [class*="item-"] {
        height: $header-height;
        padding: 0 $cell-gutter-width*1.5;
        cursor: pointer;

        i.icon-mdi {
            //@include color("header-text-color");
            color: $white;
            line-height: $header-height;
        }

        &:hover,
        &.active {
            @include background-color('$header-bg-hover');
        }
    }

    .logo {
        display: inline-block;
        height: $header-height;
        line-height: $header-height;
        font-size: 28px;
        font-family: $font-family-heading;

        //
        margin-left: 20px;

        a, a:hover {
            color: $white;
        }
    }

    .item-toggle-panel,
    .item-toggle-navigation {
        float: left;
    }

    // dropdown
    .header-dropdown {
        &-item {
            position: relative;
            float: right;
            height: 100%;

            &:hover {
                @include background-color('$header-bg-hover');

                .header-dropdown-content {
                    display: block;
                    opacity: 1;
                }
            }
        }

        &-content {
            @include position(absolute, 100%, 0, null, null);
            display: none;
            opacity: 0;
            width: 320px;
            text-align: left;
            background-color: $white;
            box-shadow: $box-shadow-hover;
            transition: opacity $transition;
            z-index: $z-base;

            .heading-box {
                padding: $cell-gutter-width;
                border-bottom: 1px solid $border-color-light;
            }

            ul li {
                &:not(:last-child) {
                    border-bottom: 1px solid $border-color-light;
                }

                a, span {
                    display: block;
                    padding: $cell-gutter-width*0.75 $cell-gutter-width;
                    cursor: pointer;
                    color: $font-color-base;

                    &:hover {
                        background-color: $bg-gray-light;
                    }
                }
            }

            &.language {
                width: 100px;
            }
        }
    }

    .widgets {
        padding: $cell-gutter-width;

        > div {
            padding: $cell-gutter-width $cell-gutter-width*0.5;
            text-align: center;
            word-break: break-all;
            border: 1px solid transparent;
            border-radius: $border-radius-medium;
            transition: $transition;
            outline: none;
            cursor: all-scroll;

            &:hover {
                border-color: $border-color;
                background-color: $bg-gray-light;
            }
        }
    }
}

@include respond-to("medium") {
    header.header {
        width: 100%;
        left: 0;

        [class*="item-"] {
            padding: 0 $cell-gutter-width;
        }
    }
}


@include respond-to("small-x") {
    header.header {
        .header-dropdown-item {
            position: static;
        }

        .header-dropdown-content {
            width: 100vw;
        }
    }
}
