$icon-width: 24px;
$icon-height: 24px;

$menu: production-capability equipment routings calendars users schedule tools customers production packing shipping matrix-qualifications product-definition materials-bom part-families models-products operations production-counts scrap-reasons downtime-reasons jobs etalon-jobs customer-orders sequence-control batch-orders containers shipments error-log edi imported-files exported-files system notifications settings serialization application reports report;

@mixin sprite_icon_position {
    @for $i from 1 through length($menu) {
        $current: nth($menu, $i);
        $j: $i - 1;

        i.#{$current}:before {
            background-position: 0 (- $icon-height * $j);
        }

        &:hover,
        &.active {
            i.#{$current}:before {
                background-position: - $icon-width (- $icon-height * $j);
            }
        }
    }
}

.menu-list .item {
    @include sprite_icon_position;

    i:before {
        content: "";
        @include position(absolute, 50%, null, null, 50%);
        transform: translate(-50%, -50%);
        width: $icon-width;
        height: $icon-height;
        background-image: url("#{$default-path-img}/master.svg");
        background-repeat: no-repeat;
        // background-size: $icon-width*2 auto; // do not delete
    }
}

