$font-color:                #a1adbf !default;
$menu-background-content:   $dark !default;
$menu-background-header:    #12141c !default;
$menu-item-size:            $cell-gutter-width*5.5 !default;

.menu {
    //padding: $cell-gutter-width*0.5;
    overflow-y: auto;
    z-index: $z-dropdown-fullscreen;
    background-color: $dark;
    color: $font-color;

    .item {
        @include transform-rotate-after('keyboard_arrow_left', 24px, -90deg);
        white-space: nowrap;
        //border-radius: $border-radius-medium;
        transition: $transition;
        cursor: pointer;

        &:after {
            @include position(absolute, $cell-gutter-width, 0, null, null);
        }

        i.icon-mdi {
            @include position(absolute, 50%, null, null, $cell-gutter-width);
            transform: translateY(-50%);
            color: $white;
        }

        //TODO: REMOVE hover
        &.active,
        &:hover {
            background-color: lighten($menu-background-content, 10%);

            .item-header {
                color: $white;
            }

            .item-content {
                display: block;
            }
        }

        .item-header {
            position: relative;
            width: 100%;
            height: $menu-item-size;
            line-height: $menu-item-size;
            //padding-bottom: $m_b-md;
            cursor: pointer;

            .panel-name {
                display: none;
                vertical-align: middle;
                margin-left: $cell-gutter-width*0.5;
            }
        }

        .item-content {
            display: none;
            padding-left: $cell-gutter-width*3.5;
            transition: $transition;

            span, a {
                display: block;
                padding: $cell-gutter-width;
                color: $font-color;
            }

            span {
                font-weight: bold;
                color: $white;
            }

            a:hover {
                background-color: rgba(255, 255, 255, 0.2);
                color: #ffffff;
                border-radius: $border-radius-small;
            }

            &.scroll {
                overflow-y: auto;
            }
        }
    }

    .question {
        @include position(absolute, null, null, 10px, 8px);
        padding: $cell-gutter-width*0.5 $cell-gutter-width;
        background-color: $bg-opacity-fade;
        border-radius: $border-radius-medium;
        font-size: $text-x-lg;
        color: $font-color;

        &:hover {
            color: $link-hover-color;
        }
    }
}

// SHORT menu only for desktop
@include respond-to('medium-min-width') {
    .menu {
        overflow-y: visible;
        width: $menu-width-short;

        .item {
            &:after {
                display: none;
            }

            //TODO: REMOVE hover
            &.active,
            &:hover {
                .item-content {
                    @include position(fixed, 0, null, null, $menu-width-short);
                    display: block;
                    height: 100%;
                    overflow-y: auto;
                    width: $menu-width-full;
                    padding: $cell-gutter-width;
                    background-color: lighten($menu-background-content, 10%);
                    //border-radius: 0 $border-radius-medium $border-radius-medium 0;
                }

                .item-header {
                    position: relative;
                    //width: calc(#{$menu-width-full} + #{$menu-width-short});
                    //background-color: $menu-background-header;
                    //border-radius: $border-radius-small $border-radius-small 0;
                    z-index: $z-base;
                    color: $white;
                }

                .toggle-hide {
                    //display: inline-block;
                }
            }
        }

        .toggle-hide {
            display: none;
        }
    }
}
