// Grid system
@mixin make-wrapper {
    position: relative;
    max-width: $cell-max-width + ($cell-gutter-width*2);
    min-width: $cell-min-width + ($cell-gutter-width*2);
    margin: 0 auto;
    padding: 0 $cell-gutter-width;
}

@mixin make-row {
    margin-right: (-$cell-gutter-width);
    margin-left: (-$cell-gutter-width);
}

@mixin make-cell($i: 1, $list: ".cell-#{$i}") {
    @for $i from 2 through $cell-columns {
        $list: "#{$list}, .cell-#{$i}";
    }
    #{$list} {
        position: relative;
        float: left;
        min-height: 1px;
        padding-left: $cell-gutter-width;
        padding-right: $cell-gutter-width;
    }
}

@mixin calc-cell {
    @for $i from 1 through $cell-columns {
        .cell-#{$i} {
            width: 100% / $cell-columns * $i;
        }
    }
}
