// Grid on flex box
@mixin flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

// ROW NOWRAP
@mixin flex-nowrap {
    @include flex;

    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;

    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

// ROW WRAP
@mixin flex-wrap {
    @include flex;
    width: 100%;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;

    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

// COLUMN NOWRAP
@mixin flex-nowrap-column {
    @include flex;

    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;

    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

@mixin cell-list-scroll {
    @include flex-nowrap;

    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    -webkit-user-select: none;
    -moz-user-select: none;

    // перевірити
    ::-webkit-scrollbar { display: none; }
}

@mixin calc-cell-list {
    @for $i from 1 through $cell-columns {
        .cell-list-#{$i} > li,
        .cell-list-#{$i} > div {
            width: 100% / $cell-columns * $i;
            padding-left: $cell-gutter-width;
            padding-right: $cell-gutter-width;
        }
    }
}
