// hr
@mixin hr($top, $bottom, $color) {
    @include clearfix;

    &:after {
        @include position(absolute, $top, #{-$cell-gutter-width}, $bottom, #{-$cell-gutter-width});
        content: "";
        display: block;
        border-bottom: 1px solid $color;
    }

    //viewbox padding
    @include respond-to("small-x") {
        &:after {
            left: (-$cell-gutter-width);
            right: (-$cell-gutter-width);
        }
    }
}
