@mixin shadow-app {
    position: relative;

    &:after {
        @include position(absolute, 0, 0, null, null);
        content: '';
        display: block;
        width: 20px;
        height: 100%;
        background: linear-gradient(to right, rgba(244, 246, 250, 0.3), rgba(244, 246, 250, 0.9));
    }
}
