@mixin themify($property, $key, $themes: $themes) {
    // Проход по темам
    @each $theme, $colors in $themes {

        @if $theme == default {
            #{$property}: map-get($colors, $key);
        } @else {
            //&.theme-#{$theme},
            .theme-#{$theme} & {

                #{$property}: map-get($colors, $key);
            }
        }
    }
}

@mixin color($arguments...) {
    @include themify('color', $arguments...);
}

@mixin border-color($arguments...) {
    @include themify('border-color', $arguments...);
}

@mixin background-color($arguments...) {
    @include themify('background-color', $arguments...);
}
