@mixin transform-rotate-after($content, $font-size, $rotate, $absolute: false) {
    position: relative;

    &:after {
        content: $content;
        display: inline-block;
        font-family: $font-family-icon;
        font-size: $font-size;
        transition: all $transition;
    }

    &.active:after {
        transform: rotate($rotate);
    }

    @if $absolute == true {
        &:after {
            @include position(absolute, $cell-gutter-width*0.3, $cell-gutter-width*0.5, null, null);
        }
    }
}

@mixin transform-rotate-icon($rotate) {
    position: relative;

    i.icon-mdi {
        //display: inline-block;
        //font-family: $font-family-icon;
        //font-size: $font-size;
        transition: all $transition;
    }

    &.active i.icon-mdi {
        transform: rotate($rotate);
    }
}
