// checkbox
$checkbox-width:                18px !default;
$checkbox-bg:                   $secondary-color !default;
$checkbox-color:                $white !default;

label.type-checkbox,
label.type-radio {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    color: $font-color-base;
    cursor: pointer;

    input[type="checkbox"],
    input[type="radio"] {
        clip: rect(0px, 0px, 0px, 0px);
        @include position(absolute, 0, null, null, 0);

        &:checked + .check:after {
            transform: scale(1);
            opacity: 1;
        }
    }

    i.check {
        position: relative;
        top: -2px;
        display: inline-block;
        margin-right: 3px;
        width: $checkbox-width;
        height: $checkbox-width;
        border: 1px solid $border-color;
        background-color: $white;
        transition: all $transition;
        vertical-align: middle;

        &:after {
            content: "";
            display: block;
            opacity: 0;
            transform: scale(0);
            font: $normal #{$checkbox-width}/#{$checkbox-width} $font-family-icon;
            transition: all $transition;
            z-index: $z-base;
            color: $checkbox-color;
        }
    }

    + label {
        &.type-checkbox,
        &.type-radio {
            margin-left: $cell-gutter-width*4;
        }
    }
}

label.type-checkbox {
    i.check {
        border-radius: $border-radius-small;

        &:after { content: "\e5CA"; }
    }

    input[type="checkbox"]:checked+ i.check {
        background-color: $checkbox-bg;
        border-color: $checkbox-bg;
    }
}

label.type-radio {
    input[type="radio"]:checked + .check { border: 1px solid $border-color; }

    i.check {
        //@include position(absolute, 2px, null, null, 0);
        border: 1px solid $border-color;
        border-radius: $border-radius-round;

        &:after {
            width: ($checkbox-width - 8px);
            height: ($checkbox-width - 8px);
            margin: 3px;
            background-color: $checkbox-bg;
            border-radius: $border-radius-round;
        }
    }
}
