// Error
.error {
    position: relative;
    font-size: $text-sm;
    color: $red;

   + .error {
        position: relative;
        //margin-top: $m_b-sm;

        &:before {
            content: "!";
            z-index: $z-base;
            display: inline-block;
            vertical-align: baseline;
            width: 15px;
            height: 15px;
            line-height: 15px;
            margin-right: 5px;
            text-align: center;
            background-color: $red;
            border-radius: $border-radius-medium;
            color: $white;
            font-weight: $bold;
            font-size: $text-sm;
        }
    }
}
