textarea.field,
select.field,
input.field {
    width: 100%;
    max-width: $input-max-width;
    height: $input-height; /* fix for FF */
    padding: $cell-gutter-width*0.5;
    background-color: $input-bg;
    border: 1px solid $border-color;
    @include border-color('$border-color');
    border-radius: $border-radius-small;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    font-family: $input-font-family;
    font-size: $input-font-size;
    color: $input-color;
    transition: all $transition;

    &:hover,
    &:focus {
        border-color: $gray;
    }

    &.disabled,
    &:disabled {
        @include disabled(null, $gray);
        //background-color: $bg-base;
    }

    &::-ms-expand { display: none; }

    &[class*="error"] {
        margin-bottom: $m_b-sm;
        border-color: $red;
        background-color: $bg-color-error;
    }
}

.uneditable {
    color: $input-color;
}

// *** textarea ***
textarea.field {
    height: 90px;
    vertical-align: top;
    line-height: $line-height-base + 0.2;
    white-space: pre-wrap;
}

// *** select ***
/*select.field {
    padding-right: $cell-gutter-width*3;
    background: $white url("#{$default-path-img}/arr-select.png") no-repeat 100% center;
    cursor: pointer;
    @include prefix(appearance, none, moz webkit);
    @include prefix(padding-end, none, moz webkit);
    @include prefix(user-select, none, moz webkit);

    > option {
        //height: 40px;
        //background: blue ;
        padding: $cell-gutter-width 0;
    }
}*/

// *** number ***
.textbox-number {
    @include flex-nowrap;
    @extend input.field;
    max-width: 200px;
    overflow: hidden;
    padding: 0 !important;

    input {
        width: 100%;
        flex: 0 0 calc(100% - 20px);
        background-color: transparent;
        border: 0;
        padding-left: $cell-gutter-width;
    }

    &-wrap {
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }

    &-up,
    &-down {
        height: $input-height*0.5;

        &:after {
            line-height: $input-height*0.5;
            font-family: $font-family-icon;
            font-size: $font-size-icon;
            ////
            -webkit-font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
            -moz-osx-font-smoothing: grayscale;
            font-feature-settings: "liga";
        }

        &:hover:after { color: $blue; }
    }

    &-up:after {
        content: "keyboard_arrow_up";
    }

    &-down:after {
        content: "keyboard_arrow_down";
    }

    //&[type="number"] {
    //    -moz-appearance: textfield;
    //
    //    &::-webkit-inner-spin-button,
    //    &::-webkit-outer-spin-button {
    //        -webkit-appearance: none;
    //        margin: 0 ;
    //    }
    //}
}
