// Form group
.form-group {
    @include clearfix;
    @include make-row;
    margin-bottom: $m_b-md;
}

.form-item {
    @include clearfix;
    margin-bottom: $m_b-md;

    label:not(.type-checkbox):not(.type-radio) {
        display: inline-block;
        font-size: $text-md;
        margin-bottom: $m_b-sm;
        padding-top: $cell-gutter-width*0.5;
    }
}

.required {
    position: relative;

    &:after {
        content: "*";
        margin-left: 2px;
        font-size: $text-md;
        font-weight: $bold;
        color: $red;
    }
}
