// *** search ***
// should be
//<div class="search">
//    <input class="textbox-input" type="search" placeholder="Search in sidebar .."/>
//</div>

.search {
    position: relative;

    &:after {
        @include position(absolute, 0, 0, null, null);
        content: "search";
        font-family: $font-family-icon;
        font-size: $font-size-icon-lg;
        color: $gray;
    }
}

input[type="search"] {
    padding-right: $cell-gutter-width*3;

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
        display: none;
    }
}
