@include exports("dropdownlist/theme") {

    .k-dropdown {

        .k-dropdown-wrap {
            @include appearance(button);
            max-width: $input-max-width;
            background-clip: padding-box;

            .k-ie11 &,
            .k-edge12 &,
            .k-edge13 & {
                background-clip: border-box;
            }

            .k-select {
                padding: 0;
                width: button-inner-size();
            }

            &:hover,
            &.k-state-hover {
                @include appearance(hovered-button);
            }

            &.k-state-focused {
                @include appearance(focused-input);
            }
        }
    }
}
