$app-width:      80% !default;
$app-close-size: 40px!default;

.app-navigation {
    > i.close {
        @include position(absolute, 0, 0, null, null);
        display: none;
        font-size: $font-size-icon-lg;
        background-color: $bg-opacity;
        height: $app-close-size;
        width: $app-close-size;
        line-height: $app-close-size;
        text-align: center;
    }

    &-title {
        display: none;
        font-size: $text-lg;
        padding: $cell-gutter-width $app-close-size $cell-gutter-width $cell-gutter-width;
    }
}

@include respond-to("medium") {
    .app-navigation {
        width: $app-width;
        height: 100%;
        top: 0;
        left: -$app-width;
        transition: $transition;
        z-index: $z-dropdown-fullscreen;

        > i.close,
        &-title {
            display: block;
        }

        &.active {
            left: 0;
            //display: block;
        }
    }
}