$level-counts:          10 !default;
$navigation-tree-bg:    $white !default;
.navigation-tree {
    //@include background-color(tree-bg);
    background-color: $navigation-tree-bg;
    box-shadow: $box-shadow;

    &-content {
        -ms-flex: 0 1 100%;
        -webkit-flex: 0 1 100%;
        flex: 0 1 100%;

        overflow-y: auto;
        overflow-x: hidden;
    }

    &-footer {
        padding: 0 $cell-gutter-width $cell-gutter-width;
        text-align: right;
    }

    &-list {
        padding: $cell-gutter-width;

        .item {
            @include transform-rotate-icon(-90deg);

            > span {
                position: relative;
                display: block;
                padding: $cell-gutter-width*0.5 0;
                cursor: pointer;
                //color: $white;

                &:hover { color: $secondary-color; }
            }
            //&.active {
            //    background-color: $bg-gray-light;
            //    font-weight: bold;
            //}

            i.icon-mdi {
                @include position(absolute, 6px, null, null, -$cell-gutter-width*2);
                cursor: pointer;
            }

            &.has-icon > span {
                padding-left: 20px;

                &:before {
                    @include position(absolute, 5px, null, null, 0);
                    content: 'settings';
                    display: inline-block;
                    line-height: 14px;
                    font-family: $font-family-icon;
                    font-size: $font-size-icon-sm;
                    color: $gray;
                    -webkit-font-smoothing: antialiased;
                    text-rendering: optimizeLegibility;
                    -moz-osx-font-smoothing: grayscale;
                    font-feature-settings: "liga";
                }
            }
        }
    }
}

.level-1 {
    //background-color: #4d515a;

    > li > .item {
        //text-transform: capitalize;
        //background-color: red;
    }

    .sub-level {
        //background-color: #322d43;

        font-size: $font-size-base - 1;

        .level-2 .sub-level {
            font-size: $font-size-base - 2;
        }
    }
}

@for $i from 1 through $level-counts {
    .level-#{$i} {
        //background-color: rgba(0, 0, 0, 0.36);

        .item {
            padding-left: $cell-gutter-width*$i*1.5;
        }
    }
}
