@include exports('action-buttons/theme') {

    .k-action-buttons {
        border-color: $popup-border;

        .k-button {
            color: inherit;

            &:hover,
            &.k-state-hover {
                @include appearance( hovered-button );
                border-color: inherit;
            }

            &:focus,
            &.k-state-focused {
                box-shadow: $focused-shadow;
            }

            &:active,
            &.k-state-active {
                //@include appearance( pressed-button );
                border-color: inherit;
            }
        }

        .k-primary {
            //color: $accent;

            &:hover,
            &.k-state-hover {
                //@include appearance( hovered-primary-button );
                border-color: inherit;

                //&:focus,
                //&.k-state-focused {
                //    box-shadow: $focused-shadow;
                //}
            }

            &:focus,
            &.k-state-focused {
                //box-shadow: inset 0 0 0 2px rgba( $button-hovered-bg, .3);
            }

            &:active,
            &.k-state-active {
               // @include appearance( pressed-primary-button );
                border-color: inherit;
            }
        }
    }

}
