<!--iv class="page-login">
    <div class="image-box">
        <img src="" alt="" />
    </div>

    <div class="form-box">
        <p class="h1 text-center">Welcome to AGW MES</p>

        <form action="">
            <div class="form-item">
                <input class="field" type="text" placeholder="User name"/>
            </div>

            <div class="form-item">
                <input class="field" type="password" placeholder="Password"/>
            </div>

            <div class="form-item">
                <input class="field" type="text" placeholder="AGW User"/>
            </div>

            <div class="form-item text-right">
                <a href="">Forgot password</a>
            </div>

            <input class="btn-cell btn-primary" type="submit" value="Log in">
        </form>
    </div>
</div>-->



<div class="wrapper-sm">
    <p class="h1">Welcome to AGW MES</p>

    <div class="viewbox">
        <form action="">
            <div class="form-item">
                <input class="field" type="text" placeholder="User name"/>
            </div>

            <div class="form-item">
                <input class="field" type="password" placeholder="Password"/>
            </div>

            <div class="form-item">
                <input class="field" type="text" placeholder="AGW User"/>
            </div>

            <div class="form-item text-right">
                <a href="">Forgot password</a>
            </div>

            <input class="btn-cell btn-primary" type="submit" value="Log in">
        </form>
    </div>
</div>
