/*
:host {
    display: flex;
    flex: 0 0 100%;
}

.page-login {
    display: flex;
    height: 100%;
    flex-direction: row;
    flex: 1 0 auto;

    > div {
        flex: 0 1 100%;
        max-width: 50%;
    }

    .image-box {
        flex: 0 1 100%;
        display: flex;
        background: green;

    }

    .form-box {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 10%;
    }
}

*/
