<!--production-capability equipment routings calendars users schedule tools customers production packing shipping matrix-qualifications product-definition materials-bom part-families models-products operations production-counts scrap-reasons downtime-reasons jobs etalon-jobs customer-orders sequence-control batch-orders containers shipments error-log edi imported-files exported-files system notifications settings serialization application reports report-->
<!--toggle panel-short panel-full-->

<!--
<div class="app-navigation cell-fixed-panel menu">
    <div class="app-navigation-title">Menu</div>
    <kendo-menu [items]="items" [vertical]="true"></kendo-menu>
</div>
-->


<div class="app-navigation cell-fixed-panel menu">
    <div class="app-navigation-title">Menu</div>

    <i class="close">close</i>

    <ul class="menu-list">
        <li class="item">
            <div class="item-header">
                <i class="icon-menu-item equipment"></i>
                <span class="toggle-hide panel-name">Production Capability</span>
            </div>

            <ul class="item-content">
                <li><a href="">Equipment</a></li>
                <li><a href="">Routings</a></li>
                <li><a href="">Users</a></li>
                <li><a href="">Calendars</a></li>
                <li><a href="">Schedule</a></li>
                <li><a href="">Tools</a></li>
                <li><a href="">Customers</a></li>
                <li><a href="">Packing</a></li>
                <li><a href="">Matrix of qualifications</a></li>
                <li><a href="">Shipping</a></li>
                <li><a href="">Production Counts</a></li>
                <li><a href="">Scrap Reasons New</a></li>
                <li><a href="">DownTime Reasons</a></li>
            </ul>
        </li>

        <!--&lt;!&ndash;toggle class 'active' on item &ndash;&gt;-->
        <li class="item">
            <div class="item-header">
                <i class="icon-menu-item calendars"></i>
                <span class="toggle-hide panel-name">Operations</span>
            </div>

            <ul class="item-content">
                <li><span class="">Product Definition</span></li>
                <li><a href="">Definition</a></li>
                <li><a href="">Definition</a></li>
                <li><a href="">Definition</a></li>
                <li><a href="">Definition</a></li>
            </ul>
        </li>

        <li class="item">
            <div class="item-header">
                <i class="icon-menu-item users"></i>
                <span class="toggle-hide panel-name">Operations</span>
            </div>

            <ul class="item-content">
                <li><span class="">Product Definition</span></li>
                <li><a href="">Definition</a></li>
                <li><a href="">Definition</a></li>
                <li><a href="">Definition</a></li>
                <li><a href="">Definition</a></li>
            </ul>
        </li>

        <li class="item">
            <div class="item-header">
                <i class="icon-menu-item models-products"></i>
                <span class="toggle-hide toggle-hide panel-name">EDI</span>
            </div>

            <ul class="item-content">
                <li><span class="">Product Definition</span></li>
                <li><a href="">Definition</a></li>
                <li><a href="">Definition</a></li>
                <li><a href="">Definition</a></li>
                <li><a href="">Definition</a></li>
            </ul>
        </li>

        <li class="item">
            <div class="item-header">
                <i class="icon-menu-item operations"></i>
                <span class="toggle-hide panel-name">System</span>
            </div>

            <ul class="item-content">
                <li><span class="">Product Definition</span></li>
                <li><a href="">Definition</a></li>
                <li><a href="">Definition</a></li>
                <li><a href="">Definition</a></li>
                <li><a href="">Definition</a></li>
            </ul>
        </li>

        <li class="item">
            <div class="item-header">
                <i class="icon-menu-item production-counts"></i>
                <span class="toggle-hide panel-name">Reports</span>
            </div>
            <!--&lt;!&ndash;TODO:определять нижнюю точку дропдауна, если она ниже видимости == добавлять класс scroll + max-height &ndash;&gt;-->
            <ul class="item-content">
                <li><span class="">Product Definition</span></li>
                <li><a href="">Prod Summarise Report</a></li>
                <li><a href="">Scraps Report</a></li>
                <li><a href="">Operators Report</a></li>
                <li><a href="">Total OEE Report</a></li>
                <li><a href="">Downtimes Report</a></li>
                <li><a href="">Maintenance Report</a></li>
                <li><a href="">Setter Report</a></li>
                <li><a href="">Reports Designer</a></li>
                <li><a href="">Birth History</a></li>
                <li><a href="">Trace Data</a></li>
                <li><a href="">Production Statistics</a></li>
                <li><a href="">Suspected LampsJoined</a></li>
                <li><a href="">Components</a></li>
                <li><a href="">GPAO Report</a></li>
                <li><a href="">Tracker AGW Report</a></li>
                <li><a href="">Sequence Orders</a></li>
                <li><a href="">Sequence Containers</a></li>
                <li><a href="">Availability OEE Report</a></li>
                <li><a href="">MTBF OEE Report</a></li>
                <li><a href="">MTTR OEE Report</a></li>
                <li><a href="">Acknowledge Report</a></li>
            </ul>
        </li>
    </ul>

    <a class="question" href=""><i class="icon">?</i></a>
</div>

