@include exports("combobox/layout") {

    .k-combobox-clearable {
        .k-input {
            padding-right: add-two($icon-size, $padding-x);
        }

        &[dir='rtl'],
        .k-rtl & {
            .k-input {
                padding-left: add-two($icon-size, $padding-x);
                padding-right: $input-padding-x;
            }
        }
    }
}
