@include exports("combobox/theme") {

    .k-combobox {

        // Normal state
        .k-dropdown-wrap {
            @include appearance( input );
            background-clip: padding-box;
            cursor: initial;

            .k-ie11 &,
            .k-edge12 &,
            .k-edge13 & {
                background-clip: border-box;
            }
        }

        .k-select {
            @include appearance( button );
            padding: 0;
            width: button-inner-size();
            border-width: 0;
        }

        // Hovered state
        > :hover,
        .k-state-hover {
            @include appearance( hovered-input );

            .k-select {
                @include appearance( hovered-button );
            }
        }

        // Selected state
        > .k-state-focused,
        .k-state-active {
            @include appearance( focused-input );

        }
    }

}
