<!--for categories in property-categories -->
<ul class="cell-flex-list row">
    <li class="cell-sm cell-6 m_b-md">
        <div class="card">
            <div class="card-hd" (click)="this.propertieItemShow = !this.propertieItemShow;">
                <p class="h4">Category name</p>
            </div>

            <div class="card-bd busy"
                 *ngIf="propertieItemShow"
                 [@showHideTrigger]="'show'"
            >
                <div class="form-item">
                    <label>Machine Vendor </label>
                    <kendo-autocomplete [data]="listItems" [placeholder]="'Your favorite sport'"></kendo-autocomplete>
                </div>

                <div class="form-item">
                    <label>Customer Code / Customer Code (PLUQUO/SYNCHRONE)</label>
                    <kendo-multiselect [data]="listItems" [value]="value" [placeholder]="'Your favorite sports'"></kendo-multiselect>
                </div>

                <div class="form-item">
                    <label>(*) / Line number (PLUQUO/SYNCHRONE)</label>
                    <kendo-dropdownlist [data]="listItems" [value]="'Basketball'"></kendo-dropdownlist>
                </div>

                <div class="form-item">
                    <label>Unloading Point (PLUQUO)</label>
                    <kendo-combobox [data]="listItems" [value]="'Basketball'"></kendo-combobox>
                </div>

                <div class="form-item">
                    <label>Virtual Unloading Point (SEQJIT) </label>
                    <input class="field" type="text"/>
                </div>
            </div>
        </div>
    </li>

    <li class="cell-sm cell-6 m_b-md">
        <div class="card">
            <div class="card-hd" (click)="this.propertieItemShow = !this.propertieItemShow;">
                <p class="h4">Category name</p>
            </div>

            <div class="card-bd"
                 *ngIf="propertieItemShow"
                 [@showHideTrigger]="'show'"
            >
                <div class="form-item">
                    <label>Part No</label>
                    <input class="field" type="text"/>
                </div>

                <div class="form-item">
                    <label>Cust. Part No (default)</label>
                    <input class="field" type="text"/>
                </div>

                <div class="form-item">
                    <label>Alt. Part No</label>
                    <input class="field" type="text"/>
                </div>

                <div class="form-item">
                    <label>Part Family</label>
                    <input class="field" type="text"/>
                </div>

                <div class="form-item">
                    <label>Product</label>
                    <input class="field" type="text"/>
                </div>

                <div class="form-item">
                    <label>SAP Description</label>
                    <input class="field" type="text"/>
                </div>

                <div class="form-item">
                    <label>Weight Unit</label>
                    <input class="field" type="text"/>
                </div>

                <div class="form-item row">
                    <div class="cell-6"><label>Net Weight</label></div>
                    <div class="cell-6">
                        <div class="textbox-number">
                            <input type="text">

                            <div class="textbox-number-wrap">
                                <span class="textbox-number-up"></span>
                                <span class="textbox-number-down"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-item row">
                    <div class="cell-6"><label>Gross Weight</label></div>
                    <div class="cell-6">
                        <div class="textbox-number">
                            <input type="text">

                            <div class="textbox-number-wrap">
                                <span class="textbox-number-up"></span>
                                <span class="textbox-number-down"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-item">
                    <label>Work Code</label>
                    <input class="field" type="text"/>
                </div>

                <div class="form-item">
                    <label>Customer Description</label>
                    <input class="field" type="text"/>
                </div>

                <div class="form-item">
                    <label>Build Label Description 1</label>
                    <input class="field" type="text"/>
                </div>

                <div class="form-item">
                    <label>Build Label Description 2</label>
                    <input class="field" type="text"/>
                </div>

                <div class="form-item">
                    <label>Build Label Cust. Part No</label>
                    <input class="field" type="text"/>
                </div>

                <div class="form-item">
                    <label>Sort Number</label>
                    <input class="field" type="text"/>
                </div>

                <div class="form-item">
                    <label>Pseudo Number</label>
                    <input class="field" type="text"/>
                </div>

                <div class="form-item">
                    <label>IP Version (Caddy 3)</label>
                    <input class="field" type="text"/>
                </div>

                <div class="form-item">
                    <label>Generation Status</label>
                    <input class="field" type="text"/>
                </div>

                <div class="form-item">
                    <label>Part BOM</label>
                    <input class="field" type="text"/>
                </div>

                <!--IF TYPE =  number checkbox змінюємо верстку  -->

                <div class="form-item row">
                    <div class="cell-6"><label>Dummy Part (Ignore in DELJIT)</label></div>

                    <div class="cell-6">
                        <label class="type-checkbox">
                            <input class="" type="checkbox"/>
                            <i class="check"></i>
                        </label>
                    </div>
                </div>

                <div class="form-item row">
                    <div class="cell-6"><label>Is Active</label></div>
                    <div class="cell-6">
                        <label class="type-checkbox">
                            <input class="" type="checkbox"/>
                            <i class="check"></i>
                        </label>
                    </div>
                </div>


                <div class="table table-action-row">
                    <div class="table-row table-head">
                        <div class="table-cell">Subpart</div>
                        <div class="table-cell">Qty</div>
                        <div class="table-cell">UOM</div>
                        <div class="table-cell text-center">Action</div>
                    </div>

                    <div class="table-row">
                        <div class="table-cell">1067477 [SAP:218271 IP UPPER LHD]</div>
                        <div class="table-cell">14</div>
                        <div class="table-cell">EA</div>
                        <div class="table-cell text-center"><i class="icon-mdi icon-action">delete</i></div>
                    </div>

                    <div class="table-row">
                        <div class="table-cell">1067481 [SAP:218373 IP LOWER LHD]</div>
                        <div class="table-cell">1</div>
                        <div class="table-cell">EA</div>
                        <div class="table-cell text-center"><i class="icon-mdi icon-action">delete</i></div>
                    </div>

                    <div class="table-row">
                        <div class="table-cell">1067478 [SAP:217898 AIRBAG CHUTE CHANNEL LHD]</div>
                        <div class="table-cell">1</div>
                        <div class="table-cell">EA</div>
                        <div class="table-cell text-center"><i class="icon-mdi icon-action">delete</i></div>
                    </div>


                    <div class="table-row">
                        <div class="table-cell">1067479 [SAP:217901 CLUSTER BEZEL LHD]</div>
                        <div class="table-cell">1</div>
                        <div class="table-cell">EA</div>
                        <div class="table-cell text-center"><i class="icon-mdi icon-action">delete</i></div>
                    </div>

                    <div class="table-row">
                        <div class="table-cell">1067480 [SAP:217908 REINFORCEMENT CENTER LHD]</div>
                        <div class="table-cell">1</div>
                        <div class="table-cell">EA</div>
                        <div class="table-cell text-center"><i class="icon-mdi icon-action">delete</i></div>
                    </div>

                    <div class="table-row">
                        <div class="table-cell">1067537 [SAP:217965 DEFROST DUCT]</div>
                        <div class="table-cell">1</div>
                        <div class="table-cell">EA</div>
                        <div class="table-cell text-center"><i class="icon-mdi icon-action">delete</i></div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell">1067538 [SAP:210855 RADIO SUPPORT]</div>
                        <div class="table-cell">1</div>
                        <div class="table-cell">EA</div>
                        <div class="table-cell text-center"><i class="icon-mdi icon-action">delete</i></div>
                    </div>

                    <div class="table-row">
                        <div class="table-cell">1066774 [SAP:214258 AIR DUCT ASSEMBLY LH]</div>
                        <div class="table-cell">1</div>
                        <div class="table-cell">EA</div>
                        <div class="table-cell text-center"><i class="icon-mdi icon-action">delete</i></div>
                    </div>

                    <div class="table-row">
                        <div class="table-cell">1066775 [SAP:214260 AIR DUCT ASSEMBLY RH]</div>
                        <div class="table-cell">1</div>
                        <div class="table-cell">EA</div>
                        <div class="table-cell text-center"><i class="icon-mdi icon-action">delete</i></div>
                    </div>

                    <div class="table-row">
                        <div class="table-cell">1066976 [SAP:47721 NUT N 900 579 01 CLIMATE IP UPPER]</div>
                        <div class="table-cell">1</div>
                        <div class="table-cell">EA</div>
                        <div class="table-cell text-center"><i class="icon-mdi icon-action">delete</i></div>
                    </div>

                    <div class="table-row">
                        <div class="table-cell">1066974 [SAP:47696 CLAMP 1C0 867 388 IP UP LOW BLENDE]</div>
                        <div class="table-cell">1</div>
                        <div class="table-cell">EA</div>
                        <div class="table-cell text-center"><i class="icon-mdi icon-action">delete</i></div>
                    </div>

                    <div class="table-row">
                        <div class="table-cell">1066896 [SAP:210858 CARRIER IP STR SUPPORT BEZEL LHD]</div>
                        <div class="table-cell">1</div>
                        <div class="table-cell">EA</div>
                        <div class="table-cell text-center"><i class="icon-mdi icon-action">delete</i></div>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>
<!--endfor-->

<ul class="cell-flex-list row">
    <li class="cell-sm cell-6 m_b-md">
        <div class="card">
            <div class="card-hd">
                <p class="h4">Category name</p>
            </div>

            <div class="card-bd">
                <div class="form-item">
                    <label>Machine Vendor </label>
                    <input class="field" type="text"/>
                </div>

                <div class="form-item">
                    <label>Customer Code / Customer Code (PLUQUO/SYNCHRONE)</label>
                    <input class="field" type="text"/>
                </div>

                <div class="form-item">
                    <label>(*) / Line number (PLUQUO/SYNCHRONE)</label>
                    <input class="field" type="text"/>
                </div>

                <div class="form-item">
                    <label>Unloading Point (PLUQUO)</label>
                    <input class="field" type="text"/>
                </div>

                <div class="form-item">
                    <label>Virtual Unloading Point (SEQJIT) </label>
                    <input class="field" type="text"/>
                </div>
            </div>
        </div>
    </li>

    <li class="cell-sm cell-6 m_b-md">
        <div class="card">
            <div class="card-hd">
                <p class="h4">Category name</p>
            </div>

            <div class="card-bd">
                <div class="form-item">
                    <p class="h4">Machine Vendor</p>
                    <input class="field" type="text"/>
                </div>

                <div class="form-item">
                    <p class="h4">Machine Vendor</p>
                    <input class="field" type="text"/>
                </div>

                <div class="form-item">
                    <p class="h4">Machine Vendor</p>
                    <input class="field" type="text"/>
                </div>

                <div class="form-item">
                    <p class="h4">Customer Code / Customer Code (PLUQUO/SYNCHRONE)</p>
                    <input class="field" type="text"/>
                </div>
            </div>
        </div>
    </li>
</ul>
<!--endif-->
