:root { font-size: 16px; }

body {
    position: relative;
    line-height: $line-height-base;
    overflow-x: hidden;
    background-color: $bg-base;
    font-family: $font-family-base;
    font-size: $font-size-base;
    color: $font-color-base;
    touch-action: manipulation;
    -ms-touch-action: manipulation;

    /// ???
   /*&.reset-scroll {
        overflow: hidden;

        &:after {
            content: '';
            @include position(absolute, 0, null, null, 0);
            display: block;
            width: 100%;
            height: 100%;
            background-color: $bg-opacity-fade;
            z-index: $z-dropdown-fullscreen - 1;
        }
    }*/

    &::-webkit-scrollbar {
        width: $cell-gutter-width*1.5;
        height: $cell-gutter-width*1.5;
    }
}

::-webkit-scrollbar {
    width: $cell-gutter-width*0.75;
    height: $cell-gutter-width*0.75;
}

::-webkit-scrollbar-thumb:hover {
    background-color: $gray;
}

/* Track */
::-webkit-scrollbar-track { background-color: $bg-gray-light; }

/* Handle */
::-webkit-scrollbar-thumb { background-color: lighten($gray, 26%); }

::-webkit-scrollbar-thumb:window-inactive { background-color: $bg-gray; }


@include respond-to("small") {
    ::-webkit-scrollbar {
        width: auto;
        height: auto;
    }
}

