// Button
$btn-line-height: 1 !default;
$btn-padding: 9px 10px 7px !default;
$btn-color: $white;
// backgrounds
$btn-bg-primary: $primary-color !default;
$btn-bg-secondary: $secondary-color !default;
$btn-bg-confirm: $green !default;
$btn-bg-cancel: $bg-gray !default;
$btn-bg-danger: $red !default;
$btn-bg-icon: $bg-gray !default;

[class*="btn-"] {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    line-height: $btn-line-height;
    //min-width: $cell-gutter-width*11;
    padding: $btn-padding;
    background-color: $bg-gray-light;
    border-radius: $border-radius-medium;
    text-align: center;
    text-decoration: none;
    font-size: $font-size-base;
    outline: none;
    transition: all $transition;
    font-family: $font-family-heading;
    //text-transform: uppercase;
    //font-weight: bold;
    color: $btn-color;
    cursor: pointer;
    border: 1px solid transparent;
    opacity: 0.8;

    &:hover {
        opacity: 1;
        //box-shadow: $box-shadow-hover;
        color: $btn-color;
    }

    i.icon-mdi {
        vertical-align: top;
        color: inherit;
    }

    + [class*="btn-"] {
        margin-left: 10px;
    }
}

.btn-primary {
    background-color: $btn-bg-primary;
}

.btn-secondary {
    background-color: $btn-bg-secondary;
}

.btn-confirm {
    background-color: $btn-bg-confirm;
}

.btn-danger {
    background-color: $btn-bg-danger;
}

.btn-default {
    border-color: $border-color;
    //background-color: $btn-bg-cancel;
    //color: $secondary-color;
    color: $font-color-base;

    &:hover {
        background-color: $btn-bg-cancel;
        color: $font-color-base;
    }
}

.btn-icon {
    padding-left: $cell-gutter-width*0.5;

    //&:not(.btn-default), &:hover:not(.btn-default), i { color: $white; }
    //&.btn-default i {
    // color: $font-color-base
    //}
}

.btn-cell {
    display: block;
    float: none !important;
    width: 100%;
    max-width: $cell-gutter-width*20.5 !important;
    margin: 0 auto;
}

.btn-fixed {
    padding: $cell-gutter-width*0.75;
    opacity: 1;
    border-radius: $cell-gutter-width*2;

    &, i {
        line-height: $cell-gutter-width*2;
    }

    span {
        margin-left: $cell-gutter-width*0.5;
        margin-right: $cell-gutter-width;
    }

    &.disabled {
        opacity: 1;
        background-color: $bg-gray;
    }
}

@include respond-to('small') {
    .btn-fixed span {
        display: none;
    }
}

// part
.fixed-action-place {
    @include position(fixed, null, $cell-gutter-width, $cell-gutter-width, null);
    z-index: $z-base;
}


/*
.btn-circle {
    //width: $float-btn-size;
    //height: $float-btn-size;
    //line-height: $float-btn-size;
    border-radius: $border-radius-round;
    background-color: $secondary-color;

    text-align: center;
    cursor: pointer;

    i.icon-mdi {
        font-size: $font-size-icon-lg;
        color: $white;
    }

    &:hover {
        box-shadow: $box-shadow-hover;
    }
}*/


/*
// toggle button remove later
.toggle-theme {
    @include position(fixed, 300px, 0, null, null);
    @include background-color('$secondary-color');
    padding: 15px 10px;
    box-shadow: $box-shadow;
    z-index: $z-base;
    cursor: pointer;

    i {
        font-size: 30px;
        color: $white;
    }
}
*/
