@font-face {
    font-family: "Material Icons";
    //src: url(MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local("Material Icons"),
    local("MaterialIcons-Regular"),
    url("#{$default-fonts}/MaterialIcons-Regular.woff2") format("woff2"),
    url("#{$default-fonts}/MaterialIcons-Regular.woff") format("woff"),
    url("#{$default-fonts}/MaterialIcons-Regular.ttf") format("truetype"),
    url("#{$default-fonts}/MaterialIcons-Regular.eot") format("truetype");
    font-style: normal;
    font-weight: $normal;
}

// Material Design Icon
[class*="icon-mdi"] {
    display: inline-block;
    vertical-align: middle;
    line-height: 14px;
    font-family: $font-family-icon;
    font-size: $font-size-icon;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    font-weight: $normal;
    color: $gray;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: "liga";
}

.icon-mdi-lg {
    font-size: $font-size-icon-lg;
}

.icon-action {
    //color: $blue;
    cursor: pointer;
    transition: $transition;

    &:hover {
        color: $font-color-base;
    }

}

.icon-circle {
    background-color: $secondary-color;
    border-radius: $border-radius-round;
    height: $cell-gutter-width*5;
    line-height: $cell-gutter-width*5;
    width: $cell-gutter-width*5;
    font-size: $font-size-icon-lg;
    text-align: center;
    color: $white;
}

// most popular icons
i.add,
i.close,
i.delete  {
    @extend [class*="icon-mdi"];
    cursor: pointer;

    &:hover {

    }
}
