.clearfix   { @include clearfix; }

// Display visible
.show        { display: block; }
.show-inline { display: inline-block; }
.visible     { visibility: visible; }
.invisible   { visibility: hidden; }
.hidden      { display: none; }
.disabled    { @include disabled(0.5, null); }


// Floats
.float-left  { float: left !important; }
.float-right { float: right !important; }

// Flex
.align-items-start  { align-items: flex-start !important; }
.align-items-center { align-items: center !important; }
.align-items-end    { align-items: flex-end !important; }

// Position
.relative { position: relative; }

// Inline
.inline {
    display: inline-block;
    float: none;
    vertical-align: middle;
}

// Cursor
.pointer     { cursor: pointer; }
.unclickable { pointer-events: none; }


// Margin
.m_b-sm { margin-bottom: $m_b-sm !important; }
.m_b-md { margin-bottom: $m_b-md !important; }
.m_b-lg { margin-bottom: $m_b-lg !important; }

// Padding
.p_l-md { padding-left: $cell-gutter-width; }
.p_l-lg { padding-left: $cell-gutter-width*2; }

.p_r-10 { padding-right: $cell-gutter-width; }
.p_r-lg { padding-right: $cell-gutter-width*2; }


hr {
    @include clearfix;
    height: 1px;
    margin: 0 0 $m_b-md 0;
    padding: 0;
    background-color: $border-color-light;
    border: none;
}
